/*ebbit room styles*/
/*.wrapper.ebbit-wrapper{background: #F2F2F2 url('../img/ebbit/ebbit-Backgrounds.png') no-repeat center top !important;background-size: auto 496px;}*/

.wrapper.ebbit-wrapper{background: #F2F2F2 url('../img/ebbit/ebbitt-room-bg.jpg') repeat-x center top; background-size: auto 496px;}

.logo.ebbit-logo{margin:0px 0px -2px 61px;}
.ebbit-wrapper .tabsDiv.home .all-tabs{padding-top: 16px;}
.ebbit-wrapper .nav-corner-img{background: url("../img/ebbit/corner-image.png") no-repeat center;}
.ebbit-wrapper .banner-navigation ul{background: url("../img/ebbit/navigation-bg.png") repeat;}
.ebbit-wrapper .banner-navigation ul li a:hover, .ebbit-wrapper .banner-navigation ul li a.selected{color: #f9c0c0;}
.ebbit-wrapper ul.banner-nav-li li{font-family:'Minion W01 Bd';}
.ebbit-wrapper ul.banner-nav-li li a{color: #fff;opacity: 1;} 
.ebbit-wrapper ul.directions li a{font-family: 'Minion W08 Sbh Regular'; color:#383433; }
.ebbit-wrapper ul.directions li a.identify{color:#d84269;}
.ebbit-wrapper .social-icons .vec-icon a{background: url("../img/ebbit/ebit-social-icon1.png") no-repeat;}
.ebbit-wrapper .social-icons .you-icon a{background: url("../img/ebbit/ebit-you-tube.png") no-repeat;}
.ebbit-wrapper .social-icons .fac-icon a{background: url("../img/ebbit/ebit-facebook.png") no-repeat;}
.ebbit-wrapper .social-icons .twi-icon a{background: url("../img/ebbit/ebit-twitter.png") no-repeat;}
.ebbit-wrapper .social-icons .pin-icon{display:none;}
.ebbit-wrapper #tabs ul li a{color: #616360 !important;text-transform: capitalize;}
.ebbit-wrapper #tabs ul li.active a{color: #090503 !important;} 
.ebbit-wrapper .all-tabs ul li{width: 100%; float: left;}
.cottages-body .ebbit-wrapper .cong-content #tabs .all-tabs div ul li, .ebbit-wrapper .cong-content #tabs .all-tabs div ul li:last-child{color:#000 !important;}
.ebbit-wrapper .rt-bar, .ebbit-wrapper .rt-bar.wed-rt{background:#E5E5E3;margin-top:4px;}
.ebbit-wrapper .rt-bar .spring a{background: url("../img/ebbit/ebit-star.png") no-repeat right center;color: #D73347;}
.ebbit-wrapper .mail-bt{background: url("../img/ebbit/ebit-mailllist.png") no-repeat right center;}
.ebbit-wrapper .mail-a{background-color: #E5E5E3;font-family: 'Minion W08 Sbh Regular';line-height: 24px;color: #616360;}
.ebbit-wrapper .socialDiv{padding-top: 7px;}
.ebbit-wrapper .wrapper-bottom{padding-bottom: 7px;}
.ebbit-wrapper .banner-navigation ul li{background: url("../img/sea-spa-images/spa-dots-w.png") no-repeat right 18px;line-height:40px;}
.ebbit-wrapper #tabs .all-tabs ul li{font-family: arial;font-size: 13px;line-height: 17px;padding: 0;/*list-style-type: disc;list-style-position: inside;*/}
.ebbit-wrapper .rt-bar h2, .ebbit-wrapper .rt-bar.wed-rt h2{color: #090503;font-family: 'GoudyOldStyleBTW01-Roma';font-size: 30px;text-transform: capitalize;font-variant: small-caps;}
.ebbit-wrapper .cong-content{padding-top: 12px;}
.ebbit-wrapper .cong-content .rt-bar h3{color: #616360;}
.ebbit-wrapper .resort-video a{color: #D73347;}
.ebbit-wrapper #tabs p, .ebbit-wrapper .find-us p, .ebbit-wrapper .dining-content ul li,  .ebbit-wrapper.fieldLabel, .checkbox_label{color: #090503;}
.win .ebbit-wrapper .banner-navigation ul li{line-height: 40px;}
.ebbit-wrapper #tabs  ul.wedding li a{font-size: 19px !important;}
.ebbit-wrapper .cong-content .direct-content h2{color: #090503;font-weight:bold;}

/*.cottages-body .ebbit-wrapper .cong-content .direct-content h2{color: #090503;font-family: helvetica !important;font-size: 17px !important;text-transform: inherit; font-weight:normal;}*/

.ebbit-wrapper .google-map a, .ebbit-wrapper #tabs p a{color: #D73347;}
.ebbit-wrapper #directions .directionDiv h3{color: #090503;}
.ebbit-wrapper .direct-content .gen-information h3{color: #090503 !important;}
.ebbit-wrapper .direct-content .gen-information h5 a{color: #D73347;}
.ebbit-wrapper .direct-content .gen-information h5{color: #090503;}
.ebbit-wrapper .cong-content h3, .ebbit-wrapper .directionDiv h3{color: #090503 !important;}
.ebbit-wrapper #tabs .all-tabs #breakfastlunch  ul li{list-style-type: none;}
.ebbit-wrapper .dining-content div div{width: 100%;}
.ebbit-wrapper .dining-content div h4 {color: #090503 !important;font-size: 16px;}
.ebbit-wrapper span.rate{color: #D73347;font-size: 15px;}
.ebbit-wrapper .tabs_div .dwmenu{float:right; width:auto;margin-top: -24px;}
.ebbit-wrapper .dwmenu a{color: #D73347;}
.ebbit-wrapper .dwmenu a:hover, .ebbit-wrapper #tabs p a:hover{text-decoration:underline;}
.ebbit-wrapper #tabs .dining-content .view-links a{color: #D73347 !important;}
.ebbit-wrapper .dining-content .initial-content{color: #090503;/*width: 85% !important;*/float: left !important;}
.ebbit-wrapper .cong-content #tabs ul li{background: url("../img/ebbit/ebit-tabs-divider.png") no-repeat right center !important;padding-top: 10px;}
/*.ebbit-wrapper .tabs_div div{width: 100%;}*/
.ebbit-wrapper .diningDiv .all-tabs ul{/*padding-top: 15px;*/}
.ebbit-wrapper #tabs ul li:last-child{background: none !important;}
.ebbit-wrapper .all-tabs h5, .ebbit-wrapper .all-tabs h6{color: #090503;}
.ebbit-wrapper a.share .stButton, .ebbit-wrapper a.share .stButton .chicklets{color: #D73347  !important;margin-top:0px !important;}
.ebbit-wrapper #tabs .all-tabs ul li.dining-content{list-style-type: none;}
.ebbit-wrapper #tabs .all-tabs .tabs_div ul li, .ebbit-wrapper .cong-content #tabs .all-tabs div ul li.wedding-content.wedding_promo {background: none !important; padding-left:0px !important;}
.ebbit-wrapper .galler-text h3{font-size:16px;}
.ebbit-wrapper .galler-text a{color:#D73347;font-family: 'Minion W01 Bd';}
.ebbit-wrapper .galler-text h3, .ebbit-wrapper .galler-text span,
.virginia-wrapper .galler-text h3 {color: #090503;font-family: 'Minion W01 Bd';}
.ebbit-wrapper #mailinglist *{color: #090503;}
.ebbit-wrapper #mailinglist td input{border: 1px solid #D73347 !important;}
.ebbit-wrapper .SelectBg{background: white url("../img/ebbit/ebit-select-arrow.png") no-repeat right center; border: 1px solid #D73347;height: 24px;}
.ebbit-wrapper .wpcf7-form p input[type="submit"],.ebbit-wrapper .wpcf7-form p input[type="reset"], .ebbit-wrapper .defaultText.buttonStyle{background: #D73347;color: #fff !important;}
.ebbit-wrapper .cong-content .rt-bar .spring h3{color:#616360 !important;margin-top: 10px;}
/*.ebbit-body .jcarousel-skin-tango .jcarousel-prev-vertical{background: #D73347 url("../img/sea-spa-images/up-arrow.png") no-repeat center center;}
.ebbit-body  .bx-wrapper .bx-next {background: #D73347 url("../img/sea-spa-images/next-arrow.png") no-repeat center center;}
.ebbit-body .bx-wrapper .bx-prev {background: #D73347 url("../img/sea-spa-images/prev-arrow.png") no-repeat center center;}*/
.ebbit-body .gallerydet h3{color: #090503;}
/*.ebbit-body a.share .stButton, .ebbit-body a.share .stButton .chicklets{color: #090503 !important;}*/
.ebbit-body a.share .stButton, .ebbit-body a.share .stButton .chicklets, .ebbit-body #tabs a.readless{color:#D73347 !important;}
.ebbit-body .bx-wrapper .bx-caption span{color: #090503;}
.ebbit-body #cboxContent{background: #f2f2f2;}
.ebbit-wrapper #tabs .initial-content a, .ebbit-wrapper #tabs a.readless, .ebbit-wrapper #tabs ul li span.v-gallery a{color: #D73347 !important ;}
.ebbit-wrapper #tabs .initial-content p{margin-bottom: 0px;}
.ebbit-wrapper .chicklets.sharethis{color: #D73347 !important;margin-top: 20px !important;}
.ebbit-wrapper .all-tabs .dining-content h6{margin-top: -2px !important;}
.ebbit-wrapper .noimg span{float: left;clear: both;margin: 0 0 0px 0;}
.ebbit-wrapper .noimg span.v-gallery{float:right;clear:none;}
.ebbit-wrapper #tabs * {color:#090503;}
.ebbit-wrapper #tabs ul li span.v-gallery a{padding: 0px 6px 6px 6px;}

.ebbit-wrapper #accolades .noimg span{font-style:italic;}
.ebbit-wrapper .eachmenu div div{width: 625px;float: left !important;}
.ebbit-wrapper  .eachmenu  .dining-content .initial-content{width: 88% !important;}
.ebbit-wrapper .eachmenu .dwmenu{width: 67% !important;}
.ebbit-wrapper #accolades{margin-top: -12px;}
.ebbit-wrapper #winelist{margin-top: 15px;}
.ebbit-wrapper #dining-specials{margin-top: 16px;}
.ebbit-wrapper .tabsDiv.diningDiv .all-tabs{padding-top: 2px;}
.ebbit-wrapper #the-virginia{margin-top: 16px;}
.ebbit-wrapper .google-map p, .ebbit-wrapper .specific span{color: #090503;text-transform: inherit;font-weight: normal;font-size: 13px;}
.ebbit-wrapper .gen-information h4 {font-family: 'bureaugrotesque_fiveoneRg' !important; font-weight: bold !important;font-size: 14px; margin: 0 0 9px 0;}
.ebbit-wrapper .spring, .ebbit-wrapper .sea, .ebbit-wrapper .retreat{padding-top:16px;}
.ebbit-body #cboxClose{background-color: #D73347;}
/*.ebbit-body .jcarousel-skin-tango .jcarousel-next-vertical{background: #D73347 url("../img/sea-spa-images/down-arrow.png") no-repeat center center;}
.ebbit-wrapper a.share .chicklets.sharethis{margin-top: 16px !important;}*/
#the-virginia p a{color: #D73347 !important; text-transform: none;}  
#the-virginia p a:hover{text-decoration: underline;}  


/* Cottage Styles go here */
.cottages-body .wrapper.ebbit-wrapper{background: #F2F2F2 url("../img/virginia-images/cottages-new-bg.jpg") repeat-x center -4px !important;}
.logo.cottage-logo{margin: 7px 0 0 24px;}
.cottages-body .all-tabs h4{color:#000;}
.cottages-body .all-tabs div p a{color:#D73347 !important;}
.cottages-body .ebbit-wrapper .dining-content div div{width: 626px;}
.cottages-body .ebbit-wrapper #tabs .initial-content p{margin-bottom:14px;}
.cottages-body .ebbit-wrapper .tabsDiv.diningDiv .all-tabs{padding-top:19px;}
/*.cottages-body .jcarousel-skin-tango .jcarousel-prev-vertical{background: #D73347 url("../img/sea-spa-images/up-arrow.png") no-repeat center center;}
.cottages-body  .bx-wrapper .bx-next {background: #D73347 url("../img/sea-spa-images/next-arrow.png") no-repeat center center;}
.cottages-body .bx-wrapper .bx-prev {background: #D73347 url("../img/sea-spa-images/prev-arrow.png") no-repeat center center;} */
.cottages-body .gallerydet h3{color: #090503;}
/*.ebbit-body a.share .stButton, .ebbit-body a.share .stButton .chicklets{color: #090503 !important;}*/
.cottages-body a.share .stButton, .ebbit-body a.share .stButton .chicklets, .ebbit-body #tabs a.readless{color:#D73347 !important;}
.cottages-body .bx-wrapper .bx-caption span{color: #090503;}
.cottages-body #cboxContent{background: #f2f2f2;}
.cottages-body #cboxClose{background-color: #D73347;}
/*.cottages-body .jcarousel-skin-tango .jcarousel-next-vertical{ background: #D73347 url("../img/sea-spa-images/down-arrow.png") no-repeat center center;}*/
.cottages-body a.share .stButton, .cottages-body a.share .stButton .chicklets{color:#D73347 !important;}
.cottages-body .all-tabs .all-events a:last-child{border-right: none;}
.cottages-body .all-tabs .all-events a{border-right: 1px solid #D73347;background: none;}
.cottages-body .v-gallery a{border-right: 1px solid #D73347;}


/* Congress hall promo style */
.wrapper.cong-wrapper .rt-bar h3{font-size: 18px;}
/*.wrapper.cong-wrapper .rt-bar p a{font-size: 14px;}*/
.wrapper.cong-wrapper .rt-bar.wed-rt h3{color:#27467d;}

.congresshall-body #cboxClose, .boiler-body #cboxClose, .brown-body #cboxClose{background-color: #9B733F;}



/* IE styles */
.ie8 .virginia-wrapper .banner-navigation ul li{background-position-y: 17px;padding-top: 0px;line-height: 39px !important;}
.ie9 .virginia-wrapper .banner-navigation ul li{background-position-y: 17px;padding-top: 0px;line-height: 39px !important;}
.ie8 .virginia-wrapper ul.directions li{background-position-y: 50%;}
.ie9 .virginia-wrapper ul.directions li{background-position-y: 50%;}
.ie8 .ebbit-wrapper .banner-navigation ul li{background-position-y: 19px;}
.ie9 .ebbit-wrapper .banner-navigation ul li{background-position-y: 19px;}

/* Virgina */
.wrapper.virginia-wrapper .google-map p,.wrapper.virginia-wrapper .specific span{font-weight: normal; font-size: 13px; text-transform: capitalize;color:#303030; clear:both;}
.wrapper.virginia-wrapper .v-gallery a{border-right: 1px solid #D21242;}
.virginia-wrapper .wpcf7-form p input[type="text"], .virginia-wrapper .wpcf7-form p input[type="tel"], .virginia-wrapper .wpcf7-form p input[type="email"], .virginia-wrapper .wpcf7-form p input{border: 1px solid #E69DAF;}
.wrapper.virginia-wrapper  .wpcf7-form p textarea{border: 1px solid #E69DAF;}
.virginia-wrapper .wpcf7-form p select{border: none;height:24px;}
.wrapper.virginia-wrapper #rfp form p.submit input{color: white !important;width: 68px;background: #D21242 
!important;text-transform: capitalize;padding: 4px 10px 4px 10px;}
.wrapper.virginia-wrapper #rfp form p.submit{clear: both;}
.wrapper.virginia-wrapper #rfp span.SelectBg{/*width: 172px;*/ margin-top: 0px !important;}
.wrapper.virginia-wrapper #tabs ul li.meeting-content .v-gallery a{background: none !important; border-right: 1px solid #D21242; height: 11px;text-transform:lowercase !important;}
.wrapper.virginia-wrapper #contact span.SelectBg{width: 171px;margin-top: 0px !important;}
.SelectBg input{border:none !important;}
.wrapper.virginia-wrapper #tabs ul li.wedding-content .v-gallery a:last-child{border-right: none;}
.wrapper.virginia-wrapper .v-gallery a:last-child, .wrapper.virginia-wrapper #tabs ul li.meeting-content .v-gallery a:last-child{border: none !important;}
.wrapper.virginia-wrapper .all-events a{border-right: 1px solid #D73347;}

/* Bluepig */
.bluepigtavern-body #congress-hall a:hover{text-decoration: underline;} 
.bluepigtavern-body #congress-hall a{text-transform: none;} 
.bluepigtavern-body .rt-bar p{margin-right: 11px;display: block;float: none;height: auto;max-height:400px;}

/* Rusty Nail */
.wrapper.rustynail-wrapper #the-beach-shack p a{font-style: italic;text-transform: none;font-family: arial;}
.wrapper.rustynail-wrapper #the-beach-shack p a:hover{text-decoration: underline;}
.rustynail-wrapper .banner-navigation ul li a:hover, .rustynail-wrapper .banner-navigation ul li a.selected{text-shadow: 0px 0px 1px #fff;}

