
#tabs p{text-transform:none;font-size:13px;font-family:arial;}

#tabs p a:hover{text-decoration:underline;}

/* West-end Garage styles starts here */
.west-end-wrapper{width: 100% !important;float: none !important;
background: #EBEBEB url("../img/west-end-images/back-logo-new.jpg") repeat-x  center top  !important;}
.logo.west-end-logo{margin-top: 12px;margin-bottom: 11px;}
.west-end-wrapper p.reserve{display:none;}
.west-end-wrapper .banner-navigation ul{background:  url("../img/west-end-images/menus-back.png") repeat;}
.west-end-wrapper .nav-corner-img{background:  url("../img/west-end-images/menus-left.png") no-repeat center;}
.west-end-wrapper .mail-bt{background: #555555 url("../img/west-end-images/mailing-arrow.png") no-repeat right center;}
.west-end-wrapper .banner-navigation ul li a{color: #fff;}
.west-end-wrapper .banner-navigation ul li a:hover,.west-end-wrapper .banner-navigation ul li a.selected{color: #fececb;}
.west-end-wrapper .rt-bar{background: #939393;margin-top: 8px;}
.west-end-wrapper .rt-bar a{background: url("../img/west-end-images/star.png") no-repeat right center;color: #ebebeb;}
.west-end-wrapper .cong-content  .spring h3{color: #ebebeb !important;font-family: 'bureaugrotesque_fiveoneRg' !important;}
.west-end-wrapper .directions li,.west-end-wrapper .directions li a.identify{color:#898989;}
.west-end-wrapper .directions li a:hover{color:#f2645d;}
.west-end-wrapper .mail-a{padding: 0 23px;color: #555555;background: #E4E4E4;font-family: 'Conv_26317';line-height: 27px;}
.west-end-wrapper  .all-tabs, .west-end-wrapper  #tabs ul li.active{background: none !important;color: #555555 !important;border: none !important;}
.west-end-wrapper #tabs ul li.dining-content a.readmore,.west-end-wrapper #tabs ul li.dining-content a.readless{color: #f2645d !important;
font-size: 10px !important;font-weight: bold;font-family: arial !important;}
.west-end-wrapper  .all-tabs{padding-top: 2px !important;}
.west-end-wrapper  .all-tabs *{color:#555555;}
.west-end-wrapper  #tabs ul li.active a{color: #555555 !important;}
.west-end-wrapper #tabs ul li a{color: #555555;font-size: 19px !important;font-family: 'Conv_26317' !important;}
.west-end-wrapper .spring h2{text-transform: uppercase;color: #ebebeb;font-size: 26px;font-family: 'Conv_26317';}
.west-end-wrapper .tommy-cont h3{color: #555555 !important;font-size: 15px !important;}
.west-end-wrapper #tabs p{font-family: arial;color: #555555;
font-size: 13px !important;}
.west-end-wrapper .banner-navigation ul li, ul.directions li{background: url("../img/west-end-images/white-bullet.png") no-repeat right 49%;font-size: 16px;font-family: 'Conv_26317'; /*background-size: 3px;*/}
.west-end-wrapper ul.directions li{font-size: 15px !important;background: url("../img/west-end-images/black-bullet.jpg") no-repeat right 49%;}
.west-end-wrapper ul.directions li a.no-link{font-family: 'Conv_26317' !important;color: #555555;font-size: 15px !important;}
.west-end-wrapper .directionDiv{background: none !important;padding-top: 0 !important;}
.west-end-wrapper .directionDiv h3{text-transform: uppercase;margin-top: 3px !important;margin-bottom: 11px !important;}
.west-end-wrapper .directionDiv .dir-left, .west-end-wrapper .directionDiv .google-map{margin-top: 9px;}
.west-end-wrapper .google-map span a{margin-top: 0px;text-transform: inherit;font-size: 13px;font-weight: normal;}
.west-end-wrapper .directionDiv .gen-information h3{margin-bottom: 3px !important;margin-top: 16px !important;
font-weight: normal !important; font-size: 16px !important;}
.west-end-wrapper .cong-content h3 {color: #555555 !important;font-family: 'Conv_26317' !important;margin-top: 14px;}
.west-end-wrapper  .direct-content h2{color: #555555 !important;font-family: 'Conv_26317' !important;font-size: 17px !important;text-transform:uppercase;}
.west-end-wrapper .find-us p{color: #555555 !important;}
.west-end-wrapper .google-map span{color: #555555 !important;}
.west-end-wrapper .google-map span{margin-bottom: 24px;}
.west-end-wrapper .gly h3{font-size: 18px;color: #f4776f;}
.west-end-wrapper .gallery-images ul li a{color: #f4776f;}
.west-end-wrapper .galler-text h3{/*color: #f4776f !important;*/font-size: 17px;}
.west-end-wrapper .gen-information h5{color: #555555;font-family: 'HelveticaNeueRegular';}
.west-end-wrapper .gen-information h5 a{color: #f4776f;font-family: 'HelveticaNeueRegular';}
.west-end-wrapper .gen-information h4{font-size: 12px;margin-bottom: 3px;color: #555555 !important;}
.west-end-wrapper #tabs ul li.dining-content:first-child{padding-top: 21px !important;}
.west-end-wrapper .gen-information.phone h4,.west-end-wrapper .phone h5{color: #555555 !important;font-family: 'Conv_26317' !important;font-weight: normal !important;font-size: 16px !important;}
.west-end-wrapper #vendor-list li.dining-content a span, .west-end-wrapper #tabs a *{color: #f2645d !important;}
.west-end-wrapper .spl h3,.west-end-wrapper .spl .spec{margin-left: 28px;}
.west-end-wrapper .gallery-container .galler-text span{text-transform: capitalize !important;
font-family: helvetica;color: #898989;margin: 2px 0;font-weight: normal;font-size: 12px;}
.west-end-wrapper .cnt h3{font-weight: normal !important;margin-top: 16px;}
.west-end-wrapper .cnt h5{font-size: 12px;}
.west-end-wrapper .garage h3{margin-bottom: 14px;}
.west-end-wrapper .spl .spec .dining-content div img{width: 274px;height: 122px;margin-right: 0;}
.west-end-wrapper .spl .spec .dining-content div div{width: 575px;margin-left: 23px;margin-top: 10px;}
.west-end-wrapper .spl .spec{background: none;padding: 22px 0 20px 1px;}
.west-end-wrapper .spl .spec .dining-content{margin-bottom: 17px;}
.west-end-wrapper .dining-content div h4{font-family: 'Conv_26317' !important;color: #555555 !important;font-size: 17px;line-height: 20px;}
.west-end-wrapper #vendor-list .dining-content div h5{color:#555555 !important; font-family: 'Conv_26317' !important;
font-size: 16px;font-weight: normal;}
/*.west-end-wrapper .social-icons li.vec-icon{background: url('../img/west-end-images/venctor-icon.jpg') no-repeat;}
.west-end-wrapper .social-icons li.you-icon{background: url('../img/west-end-images/youtube.jpg') no-repeat;}*/
.west-end-wrapper .social-icons li.vec-icon, .west-end-wrapper .social-icons li.you-icon{display:none;} 
.west-end-wrapper .social-icons li.fac-icon{background: url('../img/west-end-images/facebook.png') no-repeat;}
.west-end-wrapper .social-icons li.twi-icon{background: url('../img/west-end-images/twitter.png') no-repeat;}
.west-end-wrapper .social-icons li.pin-icon{background: url('../img/west-end-images/pinit.png') no-repeat;} 
.west-end-wrapper .v-gallery{color: #f2645d !important;font-family: 'bureaugrotesque_fivefiveRg' !important;background: none !important;padding-right: 0;}
.west-end-wrapper #tabs ul li.dining-content a{color: #f2645d !important;font-size: 13px !important;font-weight: normal;}
.west-end-wrapper #tabs .dining-content .view-links a.share{color: #f2645d !important;}
.west-end-wrapper .spl .spec .dining-content div p{font-family: arial;font-size: 12px;margin-top: 14px;color: #555555 !important;line-height: 15px !important;}
.west-end-wrapper .spl .spec .dining-content div p em{font-weight: bold;}
.west-end-wrapper .v-gallery{margin-top: 2px;padding-right: 30px;}
.west-end-wrapper #tabs ul li.dining-content .v-gallery a{font-size: 10px !important;}
.west-end-wrapper .wrapper-bottom{padding-bottom: 22px;}
.west-end-wrapper .gallery-container{padding-top: 0 !important;}
.west-end-wrapper .gallery-container h3{margin-top: 7px; !important;text-transform: uppercase !important;}
.west-end-body #cboxContent,.west-end-body .bx-wrapper .bx-viewport,.west-end-body .overall-popup{background: #ebebeb;}
.west-end-body  .gallerydet h3{color: #555555;}
/*.west-end-body .bx-wrapper .bx-prev{background: transparent url(images/arr-img/ebitt/prev-arrow.png) no-repeat left center;}
.west-end-body .bx-wrapper .bx-next{background: transparent url(images/arr-img/ebitt/next-arrow.png) no-repeat left center;}
.west-end-body .jcarousel-skin-tango .jcarousel-prev-vertical{background: transparent url('../js/jcarousel/skins/tango/pop-up-arrow-west.jpg') no-repeat left center;}
.west-end-body .jcarousel-skin-tango .jcarousel-next-vertical{background: transparent url('../js/jcarousel/skins/tango/pop-down-arrow-west.jpg') no-repeat left center;}*/
.west-end-body #cboxClose{background-color: #f4776f;}
.west-end-body #cboxClose:hover{background-color: #f4776f;}
.west-end-body #cboxContent  span.sharethis{color: #f4776f !important;}
.west-end-body .bx-wrapper .bx-caption span{font-family: helvetica; font-size: 13px;color: #555555 !important;}
.west-end-body  .gallerydet span{color: #555555;}
.west-end-body #mailinglist *{color: #555555;}
.west-end-body .SelectBg{border: 1px solid #f4776f;background: #fff url("../img/west-end-images/select.png") no-repeat center right;}
.west-end-body #mailinglist td input{border: 1px solid #f4776f;}
.west-end-body .defaultText.buttonStyle{background: #f4776f;color: #fff !important;}
.west-end-body .google-map p{color: #555555 !important;font-family: 'HelveticaNeueRegular';text-transform: inherit;
font-size: 13px;}
/* West-end Garage styles ends here */

/* virgina styles ends here */
.gecko .virginia-wrapper .mailing-list input[type="text"]{  height: 19px !important; 
padding: 5px 5px 0 12px !important;}    
.virginia-logo{margin: 7px 0 0 24px !important;}
.virginia-wrapper{background:  #f2f2f2 url("../img/virginia-images/background.jpg") repeat-x  center -4px  !important;}
.virginia-wrapper .all-tabs h4{text-transform: none;}
.virginia-wrapper .banner-navigation ul{
background: url("../img/virginia-images/menu-back.png") repeat;}
.virginia-wrapper .nav-corner-img{background: url("../img/virginia-images/menus-left.png") no-repeat center;}
.virginia-wrapper .banner-navigation ul li a{color: #fff;opacity: 1;}
.virginia-wrapper .banner-navigation ul li a.selected{color: #f9c0c0 !important;}
.virginia-wrapper .banner-navigation ul li{background: url("../img/virginia-images/white-bullet.png") no-repeat right 18px;padding: 0px 13px 0 10px;font-family: 'Minion W01 Bd';text-transform: capitalize !important;}
.virginia-wrapper .banner-navigation ul li a:hover{color: #f9c0c0;}
.virginia-wrapper ul.directions li, .cottages-body ul.directions li {
background: url("../img/virginia-images/blackbullet.png") no-repeat right center;
font-family: 'Minion W01 Bd' !important;
font-size: 13px;}
.cottages-body ul.directions li a{font-family: 'Minion W01 Bd' !important;
font-size: 13px;}
.virginia-wrapper .rt-bar,.virginia-wrapper .rt-bar.wed-rt{background: #e5e5e2;margin-top: 3px;}
.virginia-wrapper .rt-bar a,.virginia-wrapper .rt-bar.wed-rt a{background: url("../img/virginia-images/star.png") no-repeat right center;color: #d21242 !important;font-family: arial;font-weight: bold;font-size: 13px;}
.virginia-wrapper .all-tabs{background: none;padding: 26px 10px 0px 0px;}
.virginia-wrapper #tabs ul li{background: url("../img/con-images/tabs-divider.png") no-repeat right center;border: none;padding: 6px 20px 0px 20px;}
.virginia-wrapper .mail-bt{background: url("../img/virginia-images/mailing-list.png") no-repeat right center;text-transform: none;}


.all-tabs ul li li, .all-tabs ul li li:last-child, .beach-wrapper .beachshack.cong-content .all-tabs ul li li:last-child, .sandpiper-wrapper .tabsDiv.specials_nav #tabs .initial-content li, .sandpiper-wrapper .initial-content #tabs ul.wedding li, .sandpiper-wrapper .tabsDiv.specials_nav #tabs .final-content li, .sandpiper-wrapper .final-content #tabs ul.wedding li, .beach-wrapper .beachshack.cong-content #tabs .final-content li, .beach-wrapper .beachshack.cong-content #tabs .initial-content li,
.ebbit-wrapper .cong-content #tabs .all-tabs div ul li, .ebbit-wrapper .cong-content #tabs .all-tabs div ul li:last-child, .sandpiper-wrapper #tabs .all-tabs div ul li, .sandpiper-wrapper #tabs .all-tabs div ul li:last-child, .sandpiper-wrapper #tabs #units div ul li:first-child, .sandpiper-wrapper #tabs #pool-beach div ul li:first-child, .starinn-wrapper #tabs div ul li, .starinn-wrapper #tabs div ul li:first-child {background: url("../img/virginia-images/blackbullet.png") no-repeat 0px 8px !important; padding:0px 0px 0px 13px !important;clear: both;}



.sandpiper-wrapper #tabs .all-tabs div ul li.dining-content, .sandpiper-wrapper #tabs .all-tabs div ul li.dining-content:last-child, .starinn-wrapper #tabs .all-tabs div ul li.dining-content, .starinn-wrapper #tabs .all-tabs div ul li.dining-content:last-child{background:none !important;padding: 0px 0px 18px 3px !important;}



.sandpiper-wrapper #tabs .final-content li, .sandpiper-wrapper #tabs .final-content li span{font-size:13px !important;}

.virginia-wrapper #tabs .all-tabs div li, .virginia-wrapper #tabs div ul li:last-child,
.ebbit-wrapper .cong-content #tabs .all-tabs div ul li, .ebbit-wrapper .cong-content #tabs .all-tabs div ul li:last-child{float: left;width: 100%;/*text-indent: 13px;*/ padding: 0px 0px 0px 13px !important;
background: url("../img/virginia-images/blackbullet.png") no-repeat 0px 6px !important;
font-size: 13px !important;color: #656564 !important;}
.virginia-wrapper #tabs .all-tabs .gallery-container .gallery-images ul li,
.virginia-wrapper #tabs .all-tabs .gallery-container .gallery-images ul li:last-child,
.ebbit-wrapper #tabs .all-tabs .gallery-container .gallery-images ul li,
.ebbit-wrapper #tabs .all-tabs .gallery-container .gallery-images ul li:last-child{width:217px !important;background:none !important;padding: 10px 49px 0 48px !important;}

.virginia-wrapper #tabs .all-tabs div li.dining-content,
.virginia-wrapper #tabs .all-tabs div li.dining-content:last-child{background:none !important;padding-left:0px !important;}

.virginia-wrapper .rt-bar h2,.virginia-wrapper .rt-bar.wed-rt h2{text-transform: uppercase;font-family: 'GoudyOldStyleBTW01-Roma';font-size: 25px;color: #090503 !important; margin-bottom: 8px;}
.virginia-wrapper .mailing-list a{/*width: 168px;*/line-height: 26px;background: #e5e5e2;padding: 0px 12px 0px 12px;height: 24px;
color: #656564;font-family: 'Minion W01 Bd';font-size: 12px;}
.virginia-wrapper #packages .wedding-content div div{float: left !important;}
.virginia-wrapper #contact form input{border: 1px solid #e69daf;color: #656564 !important;}
.virginia-wrapper #contact form  label{color: #656564 !important;}
.virginia-wrapper #contact form  p.submit{clear:both;}
.virginia-wrapper #contact form  p.submit input,.virginia-wrapper #mailinglist td input[type="submit"]{color: #fff !important;width: 68px;background: #d21242 !important; text-transform: capitalize;padding: 4px 10px 4px 10px}
.virginia-wrapper .directions li a.identify, .cottages-body .ebbit-wrapper ul.directions li a.identify{color: #d21242;}
.virginia-wrapper #mailinglist  tr td input{margin-top: 9px !important;}
.virginia-wrapper #mailinglist tr td input[type="checkbox"]{margin-top: 0 !important;}
.virginia-wrapper #mailinglist td input[type="submit"]{position: relative;
top: 17px;padding: 3px 10px 4px 10px;margin: 10px 0 20px 8px !important;}
.virginia-wrapper .directions li a.no-link, .cottages-body .directions li a.no-link{color: #000 !important;}
.virginia-wrapper li.dr a:hover,.virginia-wrapper li.ct a:hover{color: #D84269;}
.virginia-wrapper .wrapper-bottom{padding-bottom: 13px;}
.virginia-wrapper .socialDiv{padding-top: 8px;}
.virginia-wrapper #tabs ul li.active a{color: #303030 !important;}
.virginia-wrapper .all-tabs p, .virginia-wrapper .all-tabs p span, .virginia-wrapper .bottom-logo span, .virginia-wrapper #tabs .initial-content{color: #656564 !important;}
.virginia-wrapper #testimonials span.name,.virginia-wrapper #testimonials span.excerpt{font-family: helvetica;
font-size: 13px;/*font-style: italic;*/text-transform: capitalize;}
#testimonials span.excerpt{clear: both;}
.virginia-wrapper .cong-content .rt-bar h3{
font-family: 'gothic720';font-weight: normal;font-size: 18px;color: #656564 !important;}
.virginia-wrapper  .retreat p{margin: 3px 0 8px -6px;}
.virginia-wrapper .rt-bar.wed-rt .resort-video{
background: #d21242;}
.virginia-wrapper .gen-information h3{margin-bottom:0px;}
.virginia-wrapper .rt-bar.wed-rt .resort-video a{
font-size: 16px;font-family: 'Minion W01 Bd';font-weight: normal;color: #fff !important;}
.virginia-wrapper #tabs ul li.active{background: url("../img/con-images/tabs-divider.png") no-repeat right center;
border: none;}
.virginia-wrapper #tabs ul li:last-child,.virginia-wrapper #tabs .all-tabs .gallery-container .gallery-images ul li {background: none !important;}
.virginia-wrapper #tabs ul li a{color: #656564;font-size: 20px; }
.virginia-wrapper .cong-content{padding-top: 15px;}
.virginia-wrapper #tabs-1 ul{margin-top: -5px;}
.virginia-wrapper #tabs-1 ul li{padding: 3px 20px 0px 20px;}
.virginia-wrapper .spl h3{color: #000;padding-bottom: 10px;}
.virginia-wrapper #mailinglist td input{border: 1px solid #e69daf;}
.virginia-wrapper .SelectBg, .virginia-wrapper .selectedState{background: #fff url("../img/virginia-images/select.png") no-repeat center right;border: 1px solid #e69daf;margin-top: 9px !important;}

.virginia-wrapper .spl li.dining-content p{font-family: arial;font-size: 13px;margin-top: 2px;}
.virginia-wrapper .spl li.dining-content h5{font-family: arial;font-size: 12px;text-transform: uppercase;font-weight: normal;color: #000;}
.virginia-wrapper .spl li.dining-content h4{font-family: 'Conv_ModernMTStd-Bold';color: #000 !important;font-weight: normal;font-size: 16px;}
.virginia-wrapper .spl li.dining-content .view-links a{color: #d21242;text-transform: capitalize;font-family: 'Conv_ModernMTStd-Bold' !important;font-size: 14px !important;background: url("../img/con-images/tabs-divider.png") no-repeat right center !important;border: none;}
.virginia-wrapper .spl li.dining-content .view-links a:last-child{background: none !important;}
.virginia-wrapper .dining-content div div{margin-top: 1px;}
.virginia-wrapper .spls{padding-top: 30px;}
.virginia-wrapper .spec .dining-content{width: 100%;float: left;margin-bottom: 6px;}
.virginia-wrapper .dining-content div img {/*margin-right: 48px;*/} 
.virginia-wrapper .directionDiv{background: none;padding-top: 3px !important;}
.virginia-wrapper .drt h3,.virginia-wrapper .cnt h3{color: #303030 !important;}
.virginia-wrapper .dir-left h2, .cottages-body .ebbit-wrapper .cong-content .direct-content h2 {text-transform: capitalize !important;color: #000 !important;font-family: helvetica !important;font-size: 17px !important;font-weight:normal;}
.virginia-wrapper .directionDiv .direct-content h2,.virginia-wrapper .directionDiv .direct-content .gen-information h3, .cottages-body .direct-content .gen-information h3{font-size: 17px !important;} 
.virginia-wrapper .google-map h2,.virginia-wrapper .direct-content h3, .cottages-body .ebbit-wrapper .cong-content .direct-content .google-map h2, .cottages-body .ebbit-wrapper .direct-content .gen-information h3{font-family: 'Conv_ModernMTStd-Bold' !important;font-weight: normal !important;color: #303030 !important;text-transform: capitalize !important;}

.virginia-wrapper .find-us h2, .cottages-body .ebbit-wrapper .cong-content .direct-content .find-us h2{font-family: 'Conv_ModernMTStd-Bold' !important;font-weight: normal !important;color: #303030 !important; text-transform:none !important;}
.virginia-wrapper .google-map{margin-top:9px;}
.virginia-wrapper .google-map a{color:#d21242 !important;font-size: 13px !important;text-transform: capitalize !important;}
.virginia-wrapper .google-map h2{line-height: 16px;}
.virginia-wrapper .google-map span a, .cottages-body .google-map span a,.ebbit-wrapper .google-map span a{margin-top:0px;font-weight: normal;text-transform: capitalize !important;font-size: 13px;}
.virginia-wrapper .find-us p{color: #303030 !important;font-size: 13px;}
.virginia-wrapper .google-map span{color: #303030 !important;float: left;}
.virginia-wrapper .gen-information h5 {color: #000 !important;/*text-transform: none !important;font-family: arial !important;font-weight: normal !important;font-size: 13px;*/}
.virginia-wrapper .cnt .direct-content h3{font-size: 16px !important;margin-bottom: 0 !important;}
.virginia-wrapper .gen-information h5  a{color:#d21242 !important;}
.virginia-wrapper .gen-information h4{font-family: arial !important;font-size: 12px;text-transform: capitalize !important;
color: #000;font-weight: normal !important;line-height: 20px;}
.virginia-wrapper .cnt,.virginia-wrapper .drt{padding-top: 32px;}
.virginia-wrapper .cnt .directionDiv{padding-top: 0 !important;}
.virginia-wrapper .directionDiv h3{color: #000;font-size: 20px;}
.virginia-wrapper .directions li a.selected, .cottages-body .directions li a.selected{color: #d84269 !important;}
.virginia-wrapper .gen-information.phone h4, .cottages-body .gen-information.phone h4{font-family: 'Conv_ModernMTStd-Bold' !important;font-weight: normal !important;color: #303030 !important;text-transform: capitalize !important;font-size: 17px !important;margin:0px;line-height: 20px;}
.virginia-wrapper .gallery-container{background: none !important;padding-top: 8px !important;}
.virginia-wrapper .gallery-container h3{color: #303030 !important;}
.virginia-wrapper #our-album .galler-text h3{font-size: 18px !important;color: #303030 !important;}
.virginia-wrapper .galler-text a,.virginia-wrapper #our-album .galler-text a {color: #d21242 !important; font-family: 'Minion W01 Bd';}
.virginia-wrapper .galler-text span{color: #303030 !important;}
.virginia-wrapper .social-icons li.vec-icon{background: url('../img/virginia-images/vector-icon.png') no-repeat;}
.virginia-wrapper .social-icons li.you-icon{background: url('../img/virginia-images/tube-icon.png') no-repeat;}
.virginia-wrapper .social-icons li.fac-icon{background: url('../img/virginia-images/facebook-icon.png') no-repeat;}
.virginia-wrapper .social-icons li.twi-icon{background: url('../img/virginia-images/twitter-icon.png') no-repeat;}
.virginia-wrapper .social-icons li.pin-icon{display:none;}
/*.virginia-wrapper .social-icons li.pin-icon{background: url('../img/virginia-images/pinit.jpg') no-repeat;} */
.virginia-wrapper .dining-content div h4, .cottages-body .dining-content div h4{font-size: 17px;font-family: 'Minion W01 Bd';color: #303030 !important;text-indent: 0;text-transform:none;}
.virginia-wrapper #tabs .all-tabs ul li.wedding-content, .virginia-wrapper #tabs .all-tabs div ul li.meeting-content, .virginia-wrapper #tabs .all-tabs div ul li.meeting-content:last-child{text-indent: 0 !important;background: none !important;}

.virginia-wrapper #tabs .all-tabs div ul li.meeting-content{padding-bottom:18px !important;}

.virginia-wrapper .all-tabs ul li.wedding-content h4,.virginia-wrapper .all-tabs ul li.meeting-content h4,.virginia-wrapper  #tabs #resources h4{font-family: arial;font-weight: bold;color: #303030 !important;font-size: 15px !important;}
.virginia-wrapper .all-tabs ul li.wedding-content h5,.virginia-wrapper .all-tabs ul li.meeting-content h5{color: #303030;}
.virginia-wrapper .diningDiv .all-tabs h5, .virginia-wrapper .diningDiv .all-tabs h6{font-family: arial !important;color: #303030 !important;text-indent: 0;}
.virginia-wrapper .diningDiv .all-tabs p,.virginia-wrapper .all-tabs ul li.meeting-content h4{text-indent: 0;}
.virginia-wrapper table{margin: -8px 0 0 -8px;}
.virginia-wrapper #tabs ul.wedding li{padding-top: 4px !important;}
.virginia-wrapper #tabs ul.meeting li{padding-top: 6px !important;}
.virginia-wrapper #our-album h3{color: #303030 !important;font-family: 'bureaugrotesque_threethreeRg';font-size: 15px !important;margin-bottom: 0 !important; }
.virginia-wrapper a.readmore,.virginia-wrapper a.readless{color: #d21242 !important;font-style:italic;}
.virginia-wrapper #tabs .dining-content .view-links a,.virginia-wrapper #tabs .wedding-content .view-links a,.virginia-wrapper #tabs .meeting-content .view-links a{color: #d21242 !important;padding: 2px 9px 0 9px !important;}

.virginia-wrapper #tabs .dining-content .view-links a, .virginia-wrapper #tabs .wedding-content .view-links a, .virginia-wrapper #tabs .meeting-content .view-links a{font-family:'Minion W01 Bd' !important; font-size:13px !important; text-transform:capitalize !important;}


.virginia-wrapper #tabs .dining-content .view-links span,.virginia-wrapper #tabs .wedding-content .view-links span,.virginia-wrapper #tabs .meeting-content .view-links span{color: #d21242 !important;font-family:'Minion W01 Bd' !important;text-transform: lowercase !important;font-size: 13px !important;}


.virginia-wrapper #tabs .wedding-content .view-links a{text-transform: lowercase !important;}


.virginia-wrapper #tabs .dining-content .view-links span:first-letter,
.virginia-wrapper #tabs .wedding-content .view-links span:first-letter,
.virginia-wrapper #tabs .meeting-content .view-links span:first-letter,
.wrapper.virginia-wrapper #tabs ul li.meeting-content .v-gallery a,
.wrapper.virginia-wrapper #tabs ul li.meeting-content .v-gallery a:first-letter,
.wrapper.virginia-wrapper #tabs .wedding-content .view-links a:first-letter { text-transform: uppercase !important; }


.virginia-wrapper #room-amenities h3,.virginia-wrapper #the-ebbitt-room h3{color: #303030;}
.virginia-wrapper #tabs .dining-content .view-links a.share,.virginia-wrapper #tabs .wedding-content .view-links a.share,.virginia-wrapper #tabs .meeting-content .view-links a.share{padding-left: 0 !important;}
.virginia-wrapper #tabs h3{color: #303030;font-weight: bold;font-family: arial;}
.virginia-wrapper #our-album .gallery-images{margin-top: 0 !important;}
.virginia-wrapper .galler-text h3{font-size: 16px !important; font-weight: normal !important;}
.virginia-wrapper  #tabs #resources li{list-style: none !important; }
.stButton .chicklets:hover{opacity: 1 !important;}
.virginia-wrapper #cboxContent{background: #f2f2f2;}
.virginia-wrapper #wpcf7-f554-p235-o1 p.day span,.virginia-wrapper #wpcf7-f554-p235-o1 p.time span,.virginia-wrapper #wpcf7-f554-p235-o1 p.guest span{background: #fff url("../img/virginia-images/select.png") no-repeat center right;
float: left;width: 173px;overflow: hidden;}
.virginia-wrapper #wpcf7-f554-p235-o1 p span select{width: 193px;height: 22px;background: url("../img/virginia-images/select.png") no-repeat center right;border: 1px solid #e69daf;-webkit-appearance: none;}
#wpcf7-f554-p235-o1 p textarea{width: 350px;height: 81px;border: 1px solid #e69daf;}
#wpcf7-f554-p235-o1 .wedding-form p{margin-bottom: 7px !important;}
.virginia-wrapper #contact .wpcf7-form *{color: #656564 !important;}
.virginia-wrapper #mailinglist .sectionHeader{color: #000 !important;}
.virginia-wrapper .checkbox_wrap{line-height: 0px;margin: -3px 0px 0px 15px;}
.virginia-wrapper #mailinglist #container_COLUMN31 tr td{padding-top: 6px !important;}
.virginia-wrapper #mailinglist #container_COLUMN31{margin-top: 5px;}
.virginia-wrapper #mailinglist *{color: #303030;}
#mailinglist .SelectBg{width:294px;}
.virginia-wrapper .all-tabs p a {color:#d21242 !important;}
.virginia-wrapper .all-tabs p a:hover, .content.carrier_container .upload_button:hover, #reset_button:hover{text-decoration:underline;}

.virginia-wrapper .tabs_div .bottom-logo{position:relative;bottom:0px;}


/*virginia pop up style starts here */
.virginia-body #cboxContent,.virginia-body .overall-popup,.virginia-body .bx-wrapper .bx-viewport{background: #f2f2f2;}



.virginia-body #cboxClose{background-color:#d21242;}
/*.virginia-body .bx-wrapper .bx-prev{background: #D21242 url("../img/sea-spa-images/prev-arrow.png") no-repeat center center;}
.virginia-body .bx-wrapper .bx-next{background: #D21242 url("../img/sea-spa-images/next-arrow.png") no-repeat center center;margin-top: -21px;}
.virginia-body .jcarousel-skin-tango .jcarousel-prev-vertical{/*background: #D21242 url("../img/sea-spa-images/up-arrow.png") no-repeat center center;top: -58px;}
/*.virginia-body .jcarousel-skin-tango .jcarousel-next-vertical{background: #D21242 url("../img/sea-spa-images/down-arrow.png") no-repeat center center;}*/
.virginia-body #cboxContent .gallerydet h3{color: #000000;font-family: 'Conv_ModernMTStd-Bold' !important;font-weight: normal;
font-size: 18px;}
.virginia-body #cboxContent  span.sharethis{color: #d21242 !important;}
.virginia-body .bx-wrapper .bx-caption span{font-family: helvetica; font-size: 13px;color: #303030 !important}

/*virginia pop up ends starts here */



/*special events form styles starts here */
#wpcf7-f381-t1-o1 span input, .virginia-wrapper .wpcf7-form p input[type="text"], .virginia-wrapper .wpcf7-form p input[type="tel"], .virginia-wrapper .wpcf7-form p input[type="email"], .virginia-wrapper .wpcf7-form p input{height: 22px;border: 1px solid #61453c;}

.virginia-wrapper #contact .wpcf7-form p input[type="text"], 
.virginia-wrapper #contact .wpcf7-form p input[type="tel"] , .virginia-wrapper #contact .wpcf7-form p input[type="email"]{ width: 161px;padding-right:10px; }
.virginia-wrapper #contact .wpcf7-form p select{width: 193px;}
.mac #contact .wpcf7-form p select{text-indent:5px;}
.virginia-wrapper #contact .SelectBg span{border:none;}
#contact .wpcf7-form p label{width: 187px;}

.virginia-wrapper .wpcf7-form *, .virginia-wrapper #rfp {color:#656564;font-family:arial;}

#wpcf7-f381-t1-o1 span input:focus{outline: none;border: 1px solid #61453c;}
#wpcf7-f381-t1-o1 p textarea{width: 350px;height: 81px;border: 1px solid #61453c;}
#wpcf7-f381-t1-o1 p textarea:focus, p.day span, p.time span{outline: none;border: 1px solid #61453c;}
p.day span select.select{border:none;}
#wpcf7-f381-t1-o1 input[type="submit"],#wpcf7-f522-p519-o1 input[type="submit"] {/*height: 18px !important;*/
width: 68px;
color: #fff;
font-family: arial;
background: #61453c;
/*padding: 0;*/
border: 0;}
#wpcf7-f381-t1-o1 p label{text-transform: lowercase;margin-top: 4px;color: #61453c;}
#wpcf7-f381-t1-o1 .wedding-form p{margin-bottom: 7px;}
#wpcf7-f554-p235-o1 p.date span input{background: #fff url("../img/congress-hall-images/calender.png") no-repeat center  right;cursor: pointer;text-indent:5px;}
#wpcf7-f554-p235-o1 p.date span input{background: #fff url("../img/virginia-images/calender.png") no-repeat center  right !important;}
#wpcf7-f381-t1-o1 p span select{width: 193px;color: #61453c;height: 24px;background: url("../img/congress-hall-images/select.png") no-repeat center right;/*border: 1px solid #61453c;*/border:none;-webkit-appearance: none;appearance: none;}
#wpcf7-f381-t1-o1 p span select:focus{outline: none;}
.cong-wrapper .wpcf7 .selectedState,#wpcf7-f381-t1-o1 p.day span,#wpcf7-f381-t1-o1 p.time span{background: #fff url("../img/congress-hall-images/select.png") no-repeat center right;
float: left;
width: 171px;
overflow: hidden;}
.wedding-form p{float: left;}

.virginia-wrapper .wpcf7-form p input[type="submit"], .virginia-wrapper .wpcf7-form p input[type="reset"], .defaultText.buttonStyle {background:#d21242; color:#fff;}
/*special events form styles ends here */


/*virginia editer issue styles*/
.virginia-wrapper .initial-content p, .virginia-wrapper .initial-content p span, 
.virginia-wrapper .final-content p, .virginia-wrapper .final-content p span,
.virginia-wrapper .final-content li , .virginia-wrapper .initial-content li , 
.virginia-wrapper .final-content li span, .virginia-wrapper .initial-content li span{
  font-size:13px !important; color:#656564;font-family: arial !important;float:none !important; background-position:left 8px !important; text-indent:0px !important;
}




/* read-less alignment */
.final-content p a.readless{font-size: 10px !important;font-family: arial !important;font-style:italic;}

/*hotels width */
.nav-top ul li.htl,.nav-top li.htl .chzn-container,.nav-top li.htl .chzn-container a{min-width: 110px;}
.nav-top li.htl .chzn-container a span{min-width: 90px !important;} 

/* sandpiper style starts here */
.sandpiper-wrapper .wrapper-bottom{padding-bottom: 21px;}
.sandpiper-wrapper{background: #F0EFED url("../img/sandpiper-images/background.jpg") repeat-x center -4px !important;}

.sandpiper-wrapper .logo{margin: 3px 0 12px 24px;}
.sandpiper-wrapper .banner-navigation ul li a{color: #363636;font-family:'Avenir LT W01 65 Medium';font-size: 12px;}
.sandpiper-wrapper .banner-navigation ul li{background: url("../img/sandpiper-images/menus-bullet.png") no-repeat right 18px !important;}
.sandpiper-wrapper .banner-navigation ul li a:hover,.sandpiper-wrapper .banner-navigation ul li a.selected{color:#175ea8;}
.sandpiper-wrapper .banner-navigation ul{background: url("../img/sandpiper-images/menus-back.png") repeat;}
.sandpiper-wrapper .nav-corner-img{background: url("../img/sandpiper-images/sand-corner.png") no-repeat left center;width:12px;}
.sandpiper-wrapper .banner-navigation ul li:last-child{background: none !important;}
.sandpiper-wrapper .mail-bt{background: #e5e5e2 url("../img/sandpiper-images/mail-list.png") no-repeat right center;}
.sandpiper-wrapper .mail-a{background: #e5e5e2;color: #696b68;font-family: helvetica;font-size: 11px;font-weight: bold;}
.sandpiper-wrapper ul.directions li{background: url("../img/sandpiper-images/sub-bullet.png") no-repeat right 18px;color: #363636;font-family:'Avenir LT W01 65 Medium' !important;font-size: 13px;}
.sandpiper-wrapper ul.directions li a.no-link{opacity: 1;color: #363636 !important;}
.sandpiper-wrapper ul.directions li a.identify,.sandpiper-wrapper ul.directions li a.identify{color: #179fdb; }
.sandpiper-wrapper ul.directions li a.selected,.sandpiper-wrapper ul.directions li a.identify:hover,.sandpiper-wrapper ul.directions li a.identify:hover{color: #66c0e7;}
.sandpiper-wrapper #tabs ul li a{/*text-transform: uppercase;*/ color: #555555 !important;font-family: 'Avenir LT W01 55 Roman' !important;padding-bottom: 25px;font-size: 19px !important;}
.sandpiper-wrapper .rt-bar{background: #BdBCB0;}
.sandpiper-wrapper .sandpiper-cont{margin: 5px 0 0 0;}
.sandpiper-wrapper .all-tabs p {color: #363636 !important;font-family:arial;font-size:13px;line-height: 15px;margin-bottom: 14px;padding-right: 20px;}

.sandpiper-wrapper #tabs *{color:#363636 !important;}
.sandpiper-wrapper .all-tabs div ul li, .sandpiper-wrapper .all-tabs div ul li span, .sandpiper-wrapper div ul li em{font-size:13px;}

.sandpiper-wrapper .rt-bar h2{color: #fff;font-size: 31px;font-family: 'Minion W08 Sbh Regular';font-weight: normal;}
.sandpiper-wrapper  .cong-content .rt-bar h3{color: #616360 !important;font-family:'Avenir LT W01 65 Medium' !important;font-size: 18px;padding-bottom: 0;font-weight: normal;margin-top: 4px;}
.sandpiper-wrapper .social-icons li.vec-icon{background: url('../img/sandpiper-images/vector-icon.png') no-repeat;}
.sandpiper-wrapper .social-icons li.you-icon{background: url('../img/sandpiper-images/tube-icon.png') no-repeat;}
.sandpiper-wrapper .social-icons li.fac-icon{background: url('../img/sandpiper-images/facebook.png') no-repeat;}
.sandpiper-wrapper .social-icons li.twi-icon{background: url('../img/sandpiper-images/twitter.png') no-repeat;}
.sandpiper-wrapper .social-icons li.pin-icon{background: url('../img/sandpiper-images/pinit.png') no-repeat;} 
/*.sandpiper-wrapper .social-icons li.you-icon, .sandpiper-wrapper .social-icons li.fac-icon, .sandpiper-wrapper .social-icons li.twi-icon, .sandpiper-wrapper .social-icons li.pin-icon{display:none;}*/
.sandpiper-wrapper .rt-bar a{color: #fff;background: url("../img/sandpiper-images/star.png") no-repeat right center;font-family:'Avenir LT W01 65 Medium';font-size: 13px;}
.sandpiper-wrapper .rt-bar p{margin: 3px 0 8px 0px;}  
/*.sandpiper-wrapper .resort-video{background: #D7D7CF;}*/
.sandpiper-wrapper .resort-video a{font-family: 'Minion W01 Bd' !important;background: none !important;font-size: 14px !important;color:#555555; }
.sandpiper-wrapper .directionDiv{background: none !important;padding: 0 !important;}
.sandpiper-wrapper .directionDiv h3{font-size: 19px;color: #363636 !important;font-family: 'Avenir LT W01 55 Roman' !important;}
.sandpiper-wrapper .direct-content{margin-top:6px;}
.sandpiper-wrapper .direct-content .dir-left, .sandpiper-wrapper .direct-content .google-map{margin-top: 3px;}
.sandpiper-wrapper .gallery-container h3{font-size: 19px;color: #363636 !important;margin-bottom: 0px !important;padding-top: 10px;font-family: 'Avenir LT W01 55 Roman';}
.sandpiper-wrapper .cnt{padding-top: 18px !important;}
.sandpiper-wrapper .cnt h3{padding-bottom: 0 !important;text-transform: capitalize;font-weight: normal !important;font-size: 20px;}
.sandpiper-wrapper  .directionDiv,.sandpiper-wrapper .drt .directionDiv{padding: 2px 0 20px 0px !important;}
.sandpiper-wrapper .directionDiv .gen-information h5{color: #363636;font-family: 'Avenir LT W01 65 Medium' !important;font-size: 13px !important;font-weight: normal !important;}
.sandpiper-wrapper  .directionDiv .gen-information h3{margin: 20px 0 0 0 !important;font-size: 16px !important;font-weight: normal !important;}
/*.sandpiper-wrapper  .directionDiv .direct-content{margin-top: -13px;}*/
.sandpiper-wrapper  .directionDiv .gen-information h5 a{color: #179fdb !important;font-family: 'Avenir LT W01 65 Medium' !important;
font-size: 13px !important;}
.sandpiper-wrapper  .directionDiv .phone h4{font-size: 16px !important;color: #363636 !important;font-family: 'Avenir LT W01 55 Roman' !important;line-height: 22px;font-weight: normal !important;}
.sandpiper-wrapper .drt .dir-left h2,.sandpiper-wrapper .drt .google-map h2{font-size:16px !important;color: #363636;font-family: 'Avenir LT W01 55 Roman' !important;}
.sandpiper-wrapper .find-us p{color: #363636 !important;font-family:'Avenir LT W01 35 Light';}
.sandpiper-wrapper .google-map a{color: #179fdb;font-family: helvetica;}
.sandpiper-wrapper .google-map span a{margin-top: 5px;}
.sandpiper-wrapper .google-map .specific span,.sandpiper-wrapper .google-map .specific p{font-weight: normal;color: #363636 !important;}

.sandpiper-wrapper .google-map .specific p{
  font-family: 'Avenir LT W01 35 Light';text-transform: inherit;font-size: 13px;}

.sandpiper-wrapper .all-tabs h4{font-family:'Avenir LT W01 55 Roman' !important;color: #363636 !important;
font-size: 17px;}
.sandpiper-wrapper .dining-content{padding-bottom: 20px;float: left;}
.sandpiper-wrapper #tabs .dining-content .view-links .v-gallery a{color: #179fdb !important;border: none;padding-bottom:0px;}
.sandpiper-wrapper #tabs .dining-content .view-links .v-gallery a{background: url('../img/sandpiper-images/line.png') no-repeat  right center !important;}
.sandpiper-wrapper .dining-content h5{font-family: helvetica;font-size: 13px;color: #363636;text-transform:uppercase !important;
font-weight: normal;}
.sandpiper-wrapper .dining-content h4, .sandpiper-wrapper .dining-content h6, .sandpiper-wrapper .dining-content h6{color: #363636;font-family:'Avenir LT W01 55 Roman' !important;}
.sandpiper-wrapper .dining-content p{font-family: arial;font-size: 13px;color: #363636;font-weight: normal;}
.sandpiper-wrapper .all-tabs{background: none !important;}
#welcome-to-the-sandpiper-beach-club{padding-bottom:0px !important;}
.sandpiper-wrapper #tabs ul li.active{/*background: none !important;*/border: none;}
.sandpiper-wrapper #tabs ul li.active a{color: #363636 !important;}
.sandpiper-wrapper #tabs ul li{padding: 6px 20px 6px 20px;background: url("../img/con-images/tabs-divider.png") no-repeat right center !important;}
.sandpiper-wrapper #tabs ul li:first-child{background: url("../img/con-images/tabs-divider.png") no-repeat right center !important;}
.sandpiper-wrapper #tabs .dining-content .view-links .v-gallery a:last-child{background: none !important;}
.sandpiper-wrapper #tabs #units ul li:first-child,.sandpiper-wrapper #tabs #pool-beach ul li:first-child{background: none !important;}
.sandpiper-wrapper #tabs #pool-beach ul li.dining-content{padding: 0 !important;}
.sandpiper-wrapper #tabs ul li:last-child{/*padding-left: 20px !important;*/ background: none !important;}
.sandpiper-wrapper #tabs .all-tabs ul li:last-child{padding-left: 0px !important;}
.sandpiper-wrapper .direct-content h2{color: #363636 !important;font-family: 'Avenir LT W01 55 Roman' !important;font-size: 16px !important;text-transform: uppercase;}
.sandpiper-wrapper .direct-content .find-us h2{font-size: 16px !important;text-transform: inherit;}
.sandpiper-wrapper .tabsDiv.specials_nav #tabs ul li,.sandpiper-wrapper .tabsDiv #tabs ul.wedding li{background: none !important;padding-left: 0px !important;}
.sandpiper-wrapper #tabs ul li.dining-content a.readmore,.sandpiper-wrapper #tabs ul li.dining-content a.readless{color: #179fdb !important;font-size: 10px !important;font-weight: bold;font-family: arial !important;}
.sandpiper-wrapper #tabs .dining-content .view-links a.share,.sandpiper-wrapper #tabs .dining-content .view-links .stButton .sharethis,.sandpiper-wrapper .all-tabs div p a,.sandpiper-wrapper #tabs .all-tabs .view-links a.share,.sandpiper-wrapper #tabs .all-tabs .view-links .stButton .sharethis{color: #179fdb !important;}
.sandpiper-wrapper #unit-amenities h3{color: #363636 !important;font-family: 'Avenir LT W01 55 Roman' !important;}
.sandpiper-wrapper .gallery-container{background: none !important;padding: 0px 0 20px 0px !important;}
.sandpiper-wrapper .galler-text *{font-family: 'Avenir LT W01 55 Roman' !important;}
.sandpiper-wrapper .galler-text h3{font-size:17px;}
.sandpiper-wrapper .galler-text h3,.sandpiper-wrapper .galler-text span{color: #363636 !important;}
.sandpiper-wrapper .galler-text a{color: #179fdb !important; }
.sandpiper-wrapper #event h3,.sandpiper-wrapper #event h5,.sandpiper-wrapper #event h6,.sandpiper-wrapper .sectionHeader{font-family: 'Avenir LT W01 55 Roman' !important;color: #363636 !important;font-weight: normal;}
.sandpiper-wrapper .sectionHeader{font-size: 17px;}
.sandpiper-wrapper #event .all-events a{background: url("../img/con-images/tabs-divider.png") no-repeat right center !important;}
.sandpiper-wrapper #event .all-events a:last-child,.sandpiper-wrapper #tabs ul li.dining-content{background: none !important;}
.sandpiper-wrapper #mailinglist *{color: #363636 !important;}
.sandpiper-wrapper #mailinglist .defaultText.buttonStyle{background: #179fdb;color: #fff !important;}
.sandpiper-wrapper #mailinglist td input,.sandpiper-wrapper .SelectBg{border: 1px solid #179fdb;}
.sandpiper-wrapper #mailinglist td input[type="submit"]{height:24px;padding-top:2px;}
.sandpiper-wrapper .SelectBg{background: #fff url("../img/sandpiper-images/select.png") no-repeat center right;}
/* sandpiper style ends here */

/* calendar design starts here */

#ui-datepicker-div{width: 154px;background:#fff;padding: 9px 0px 10px 4px;color: #6d6d65;display:none;z-index: 9000 !important;border: 1px solid #ccc;}
.ui-datepicker-next{float:left;}
.ui-datepicker-prev{float:left;}
#ui-datepicker-div .ui-datepicker-title{font-weight: bold !important;text-align: center;float: left;width: 76%;margin-top: 3px;}
#ui-datepicker-div .ui-icon-circle-triangle-w,#ui-datepicker-div .ui-icon-circle-triangle-e{color: #60B0D5;}
#ui-datepicker-div  .wp-cal-datepicker-calendar{width: 100%;margin-top: 20px;}
#ui-datepicker-div  table tr td{text-align: center;line-height: 20px;}
#ui-datepicker-div  .ui-datepicker-month, div.dp-popup h2{text-transform: uppercase !important;font-family: 'Avenir LT W01 55 Roman' !important;font-weight: bold !important;cursor:pointer;}
#ui-datepicker-div  tr td.ui-datepicker-today, table.jCalendar td.today{background: #51A9D9 !important;}
#ui-datepicker-div  tr td.ui-datepicker-today a{color: #fff !important;}
#ui-datepicker-div  tr td a{color: #6d6d65 !important;}
#ui-datepicker-div .wp-cal-datepicker-calendar tr th span, table.jCalendar th{font-family: 'Avenir LT W01 55 Roman' !important;font-size: 12px !important;color:#555555 !important;}
#ui-datepicker-div .wp-cal-datepicker-calendar tr td a,#ui-datepicker-div .wp-cal-datepicker-calendar .ui-datepicker-unselectable span, table.jCalendar td.disabled, table.jCalendar td.disabled.dp-hover, table.jCalendar td{font-family: 'Avenir LT W01 55 Roman' !important;font-size: 12px !important;}
table.jCalendar{border-collapse: collapse !important;}
div.dp-popup, table.jCalendar th, table.jCalendar td,table.jCalendar td.other-month{background:#fff !important;}
table.jCalendar td.other-month{color:#555 !important;}
table.jCalendar{border:none !important;margin-top:10px;}
div.dp-popup div.dp-nav-next, div.dp-popup div.dp-nav-prev{top:7px !important;}
/* calendar design ends here */

/* Beach plum farm style starts here */
/*.wrapper.beachplumfarm-wrapper{background: #fff url("../img/beachplumfarm-images/beach-blum-new-bg.jpg") repeat-x center top;}*/
.wrapper.beachplumfarm-wrapper{background: #fff url("../img/beachplumfarm-images/blum-background.jpg") repeat-x center top;}

.beachplumfarm-logo{margin: 0 0 -5px 21px !important;}
.beachplumfarm-wrapper .banner-navigation ul li a{font-family: 'Candara W01 Regular';color: #ffffff;opacity: 1;}
.beachplumfarm-wrapper .nav-corner-img {background: url("../img/beachplumfarm-images/menus-left.png") no-repeat center;}
.beachplumfarm-wrapper .wedding-content.wedding_promo{width:99%;}
.wrapper.beachplumfarm-wrapper .banner-navigation ul.banner-nav-li{background: transparent url("../img/beachplumfarm-images/menus-back.png") repeat left top;}
.beachplumfarm-wrapper .banner-navigation ul li{font-family: 'Candara W01 Regular';background: url("../img/beachplumfarm-images/menu-bullet.png") no-repeat right 18px;padding-top:3px;}
.mac .beachplumfarm-wrapper .banner-navigation ul li{padding-top:3px;}
.beachplumfarm-wrapper .banner-navigation ul li a:hover,.beachplumfarm-wrapper .banner-navigation ul li a.selected{color:#b2dac5 !important;}
.beachplumfarm-wrapper ul.directions li{font-family: 'Candara W01 Regular';background: url("../img/beachplumfarm-images/sub-bullet.png") no-repeat right 16px;}
.mac .beachplumfarm-wrapper ul.directions li{background-position:right center;}
.beachplumfarm-wrapper ul.directions li a{opacity: 1;color: #7e8082;}
.beachplumfarm-wrapper .wrapper-bottom{padding-bottom: 15px;}
.beachplumfarm-wrapper .rt-bar,.beachplumfarm-wrapper .rt-bar.wed-rt{background: #b1a6cf;}
.beachplumfarm-wrapper ul.directions li a.identify{color: #5ab083;}
.beachplumfarm-wrapper ul.directions li a.identify:hover,.beachplumfarm-wrapper ul.directions li a.selected{color: #00853f; }
.beachplumfarm-wrapper .mail-a{text-transform: capitalize;color: #7e8082;background: #E6F3EA;	font-family: 'Candara W01 Bold';line-height: 30px;}
.beachplumfarm-wrapper .mail-bt{background: #Eff3eb url("../img/beachplumfarm-images/mailing.png") no-repeat right center;}
.beachplumfarm-wrapper .social-icons li.twi-icon{background: url('../img/beachplumfarm-images/twitter.png') no-repeat;position: relative;}
.beachplumfarm-wrapper .social-icons li.you-icon, .beachplumfarm-wrapper .social-icons li.vec-icon, 
.beachplumfarm-wrapper .social-icons li.fac-icon, .beachplumfarm-wrapper .social-icons li.pin-icon{display:none;}
.beachplumfarm-wrapper .all-tabs, .beachplumfarm-wrapper .directionDiv,.beachplumfarm-wrapper .gallery-container{background: none;}
.beachplumfarm-wrapper .all-tabs *{color:#000;}
.beachplumfarm-wrapper .directionDiv{margin-top: 0;}
.beachplumfarm-wrapper .gallery-container{padding-top: 5px;}
.beachplumfarm-wrapper .direct-content h2{text-transform:uppercase; font-weight:normal !important;}
.beachplumfarm-wrapper .directionDiv .gen-information h3{font-family: 'Candara W01 Regular' !important;color: #363636 !important;font-weight: normal !important;}
.beachplumfarm-wrapper .directionDiv .gen-information.phone h4{font-family:'Candara W01 Regular' !important;color: #363636;font-size: 15px;font-weight: normal !important;}
.beachplumfarm-wrapper .directionDiv .gen-information h5{color: #363636;}
.beachplumfarm-wrapper .directionDiv .gen-information h5 a{color: #00853f;}
.beachplumfarm-wrapper .direct-content .find-us h2{font-size: 15px !important;}
.beachplumfarm-wrapper .specific h2{margin-bottom: 12px;}
.beachplumfarm-wrapper #tabs ul li{background:url("../img/con-images/tabs-divider.png") no-repeat right center;}
.beachplumfarm-wrapper #tabs ul li:last-child{background:none;}
.beachplumfarm-wrapper #tabs ul li a/*, .beachplumfarm-wrapper .tabsDiv.home #tabs ul li.active a*/{color: #666666;}
.beachplumfarm-wrapper #tabs ul li.active a{color:#000;}
.beachplumfarm-wrapper .rt-bar h2,.beachplumfarm-wrapper .rt-bar.wed-rt h2{	font-family: 'birminghamtitling';color: #fff;line-height:36px;font-size:25px;}
.beachplumfarm-wrapper .cong-content .rt-bar h3{font-family: 'Candara W01 Regular';color: #fff;line-height: 20px;margin: 10px 0 0px 0;font-size:18px;}


.beachplumfarm-wrapper #tabs h3,.beachplumfarm-wrapper .sectionHeader{color: #363636 !important;}
.beachplumfarm-wrapper #tabs p,.beachplumfarm-wrapper .find-us p,.beachplumfarm-wrapper .dining-content ul li,.beachplumfarm-wrapper .fieldLabel,.beachplumfarm-wrapper .checkbox_label{color: #363636 !important;}
.beachplumfarm-wrapper .tabs_div{margin-right: 0;}
.beachplumfarm-wrapper .spring{padding: 3px 9px 10px 14px !important;font-family: helvetica;}
.mac .beachplumfarm-wrapper .spring{padding-top:8px !important;}
.beachplumfarm-wrapper .rt-bar a, .beachplumfarm-wrapper .rt-bar.wed-rt p a{color: #fff;background: url("../img/beachplumfarm-images/star.png") no-repeat right center;font-family:helvetica;}
.beachplumfarm-wrapper .rt-bar p{margin-top:0px;}


.beachplumfarm-wrapper .google-map a{color: #00853f;}
.beachplumfarm-wrapper  .directionDiv h3,.beachplumfarm-wrapper .gallery-container h3,.beachplumfarm-wrapper .gallery-container .galler-text span{color: #363636 !important;}
.beachplumfarm-wrapper .galler-text a{color: #00853f;font-family: 'Conv_ModernMTStd-Bold';} 
.beachplumfarm-wrapper #mailinglist td input{border: 1px solid #00853f;}
.beachplumfarm-wrapper .SelectBg{border: 1px solid #00853f;background: #fff url("../img/beachplumfarm-images/select.png") no-repeat center right;}
.beachplumfarm-wrapper #tabs ul.wedding li a{font-size: 19px !important;}
.beachplumfarm-wrapper .defaultText.buttonStyle{background: #00853f;color: #fff !important;}
.beachplumfarm-wrapper .gallery-container .galler-text h3{color: #363636 !important;font-size: 18px !important;
font-family: 'Conv_ModernMTStd-Bold';text-transform:none !important;}

.beachplumfarm-wrapper .galler-text{margin-top: 11px;}
.beachplumfarm-wrapper .cong-content .direct-content h2{font-family: 'Candara W01 Regular';color: #363636;}
.beachplumfarm-wrapper .resort-video a,.beachplumfarm-wrapper .rt-bar.wed-rt .resort-video a{color: #fff;font-family: 'Candara W01 Regular';font-weight: normal;background: none; }
.beachplumfarm-wrapper .google-map p,.beachplumfarm-wrapper .specific span{color: #363636;}
.beachplumfarm-body #cboxContent,.beachplumfarm-body #cboxContent .overall-popup,.beachplumfarm-body #cboxContent  .bx-wrapper .bx-viewport{background: #fff;}
.beachplumfarm-body .stButton .sharethis,.beachplumfarm-body a.share .stButton,.beachplumfarm-body a.share .stButton .chicklets{color:#00853f !important;}
.beachplumfarm-body  #mailinglist *{color: #363636;}
.beachplumfarm-body  .gallerydet h3{color: #00853f;font-family: 'Candara W01 Regular';}
.beachplumfarm-body .gallerydet span,.beachplumfarm-body .bx-wrapper .bx-caption span{color: #363636;}
.beachplumfarm-body #cboxClose{background-color: #00853f;}
.beachplumfarm-body #cboxClose:hover{background-color: #5ab083;}
.beachplumfarm-body #tabs ul li.dining-content a.readmore,.beachplumfarm-body #tabs ul li.dining-content a.readless{color: #00853f !important;font-size: 10px !important;font-weight: bold;font-family: arial !important;}
.beachplumfarm-body .direct-content *{color:#363636;}
/* Beach plum farm style ends here */

/* Rusty nail style starts here */
.rustynail-wrapper{background: #E7E6E4 url('../img/rusty-images/background.jpg') no-repeat center -4px !important;}
.rustynail-wrapper .logo {margin: 14px 0 16px 51px !important; }
.rustynail-wrapper p.reserve{display:none;}
.rustynail-wrapper .banner-navigation ul li{text-transform:capitalize;font-family: 'ITCBradleyHandW01-Bold';  font-size: 14px;background: url("../img/beach-shack-images/bs-dot.png") no-repeat right 45%;}
.rustynail-wrapper .banner-navigation ul li a{color:#000;opacity: 1;}
.rustynail-wrapper .banner-navigation ul{background: url('../img/rusty-images/menus-back.png') repeat;}
.rustynail-wrapper .nav-corner-img{background: url("../img/rusty-images/menus-left.png") no-repeat 3px 0px;}
.rustynail-wrapper .banner-navigation ul li a:hover,.rustynail-wrapper .banner-navigation ul li a.selected {
color: #fff;}


.rustynail-wrapper .google-map p, .rustynail-wrapper .specific span{  color:#000;}
.rustynail-wrapper .google-map p{font-family: 'Avenir LT W01 35 Light';font-size: 12px;text-transform: inherit;}

.rustynail-wrapper #tabs p, .rustynail-wrapper .find-us p, .rustynail-wrapper .dining-content ul li, .rustynail-wrapper .fieldLabel, .rustynail-wrapper .checkbox_label, .rustynail-wrapper #tabs p span, .rustynail-wrapper .cong-wrapper #tabs p{color:#000; font-family: 'Avenir LT W01 35 Light';}


.rustynail-wrapper .directions li a {
color: #000;opacity: 1;}
.rustynail-wrapper ul.directions li {
background: url("../img/beach-shack-images/bs-dot-b.png") no-repeat right center;font-family: 'Avenir LT W01 55 Roman' !important;font-size: 13px;padding: 0 21px 0 13px;}
.rustynail-wrapper ul.directions li a.identify{
color: #726e6d;}
.rustynail-wrapper ul.directions li a.identify:hover,.rustynail-wrapper ul.directions li a.selected  {
color: #f8981d;}
.rustynail-wrapper .wrapper-bottom{padding-bottom: 15px;}
.rustynail-wrapper .mail-a {
color: #000;font-family: 'Avenir LT W01 55 Roman' !important;font-size: 12px;line-height: 24px;background: #FEE4D3;}
.rustynail-wrapper .mail-bt{
background: url("../img/beach-shack-images/mailing-arrow.png") no-repeat center center;float: right;}
.rustynail-wrapper #tabs ul li a, .rustynail-wrapper .cong-content.cnt > h3, .rustynail-wrapper .cong-content.drt > h3, .rustynail-wrapper .cong-content.gly > h3, .rustynail-wrapper.cong-content.spl > h3 {
font-family: 'ITCBradleyHandW01-Bold';color: #f8981d !important;font-size: 16px !important;}
.rustynail-wrapper #tabs ul li.active a,  {text-shadow: 1px 0px 0px #f8981d;}
.rustynail-wrapper .beachshack.cong-content #tabs ul li {
background: url("../img/beach-shack-images/bs-seperator.png") no-repeat right 12px;}
.rustynail-wrapper .v-gallery a:last-child, .rustynail-wrapper .all-events a:last-child {background: none !important;}
.rustynail-wrapper .cong-content #tabs ul li:last-child{background:none;}

.rustynail-wrapper #tabs *{font-family: 'Avenir LT W01 55 Roman';color: #000;font-size:14px;}
.rustynail-wrapper #tabs p {color: #000 !important;font-family: 'Avenir LT W01 35 Light' !important;font-size: 14px;}
.rustynail-wrapper .rt-bar{background: #68C8C6;width: 303px;}
.rustynail-wrapper .spring {padding-top: 10px;padding-left: 11px;}
.rustynail-wrapper .rt-bar h2 {
font-family: 'ITCBradleyHandW01-Regul';font-size: 28px;font-weight: normal;color: #000 !important;line-height: 35px;
margin-bottom: 9px;max-height: 70px;overflow: hidden;}
.rustynail-wrapper .rt-bar h3 {
font-family: 'Avenir LT W01 55 Roman' !important;font-size: 13px !important;color: #000 !important;line-height:15px;}
.rustynail-wrapper .rt-bar p {height: auto;margin-top: 12px;margin-bottom: 7px;}
.rustynail-wrapper .resort-video {height: 42px;}
.rustynail-wrapper .rt-bar a {
font-family: 'Avenir LT W01 55 Roman';font-size: 13px;font-weight: bold;color: #fff;background: none;padding-right: 1px;line-height: 14px;}
.rustynail-wrapper .resort-video a {color: #000 !important;font-family: 'ITCBradleyHandW01-Regul';font-size: 14px;
text-transform: none !important;}
.rustynail-wrapper .tabsDiv{position:static;}
.rustynail-wrapper .cong-content {width: 953px; padding-top: 11px; position: relative;}
.rustynail-wrapper .directionDiv > h3 {font-family: 'ITCBradleyHandW01-Bold';color: #f8981d !important;font-size: 17px !important;}
.rustynail-wrapper  .direct-content h2, .spec .dining-content div h4,.rustynail-wrapper  .wedding-content div h4, .rustynail-wrapper  .dining-content h4 {font-family: 'ITCBradleyHandW01-Bold' !important;color: #000 !important;}
.rustynail-wrapper .direct-content h2{font-size:13px !important;text-transform: uppercase;}
.rustynail-wrapper .direct-content .find-us h2{text-transform:inherit;font-size: 15px !important; }
.rustynail-wrapper .find-us p, .rustynail-wrapper .fieldLabel, .rustynail-wrapper .checkbox_label {
font-family: 'Avenir LT W01 35 Light';
text-transform: none;color: #000 !important;font-weight: normal !important;}
.rustynail-wrapper .google-map a {color: #f8981d !important;}
.rustynail-wrapper .google-map span a{
text-transform: inherit;font-size: 13px;font-weight: normal;margin-top: 4px;}

.rustynail-wrapper .direct-content{margin-top: 14px;}
.rustynail-wrapper .specific h2{margin-bottom: 13px;}
.rustynail-wrapper .gallery-container{padding-top: 0 !important;}

.rustynail-wrapper .directionDiv{padding-top: 5px !important;}

.rustynail-wrapper .social-icons .vec-icon a, .rustynail-wrapper .social-icons .you-icon a, 
.rustynail-wrapper .social-icons .twi-icon a, .rustynail-wrapper .social-icons .pin-icon a{display: none;}
 .rustynail-wrapper .social-icons .fac-icon a {/*position: relative;
left: -60px;*/background: url("../img/beach-shack-images/facebook-icon.png") no-repeat;}
.rustynail-wrapper .gen-information h3,.rustynail-wrapper .gen-information.phone h4 {
font-family: 'ITCBradleyHandW01-Bold' !important;
color: #000 !important;font-weight: normal !important;font-size: 13px !important;}
.rustynail-wrapper .gen-information.phone h4{line-height:23px;}
.rustynail-wrapper .gen-information h5, .rustynail-wrapper .gen-information h5 a {
color: #000 !important;font-family: 'Avenir LT W01 55 Roman' !important;font-weight: normal;}
.rustynail-wrapper .gen-information h5, .rustynail-wrapper .gen-information h5 a {
color: #000 !important;font-family: 'Avenir LT W01 55 Roman' !important;font-weight: normal;}
.rustynail-wrapper  ul.directions li:first-child {
padding-left: 9px;}
.rustynail-wrapper .cong-content #tabs ul li {
background: url("../img/beach-shack-images/bs-seperator.png") no-repeat right center;}

/*adding bullets*/
.rustynail-wrapper .cong-content #tabs .tabs_div ul li, .rustynail-wrapper .cong-content #tabs .tabs_div ul li:last-child, .dining-content li {
background: url("../img/virginia-images/blackbullet.png") no-repeat 0px 6px;
  padding: 0px 0px 0px 13px !important;
  clear: both;
}




.rustynail-wrapper #tabs ul.wedding li {padding: 8px 11px 6px 11px;font-size:20px !important;}
.rustynail-wrapper a.share .stButton,.rustynail-wrapper a.share .stButton .chicklets, .rustynail-wrapper #tabs .dining-content .view-links a, .rustynail-wrapper #tabs .readmore, .rustynail-wrapper #tabs .readless, .rustynail-wrapper #tabs p a {color: #f8981d !important;}
.rustynail-wrapper  #tabs ul li.wedding-content .v-gallery a {
font-weight: normal !important;
padding: 2px 10px 0 10px;
margin-top: 2px;
}
.rustynail-wrapper .direct-content h2, .spec .dining-content div h4,.rustynail-wrapper .wedding-content div h4, .rustynail-wrapper .dining-content h4 {
font-family: 'ITCBradleyHandW01-Bold';
color: #000 !important;}
.rustynail-wrapper #tabs .wedding-content div h4, .rustynail-wrapper #tabs .dining-content h4 {
font-size: 18px;margin-bottom:5px;}
.rustynail-wrapper span.rate{color: #f8981d !important;}
.rustynail-wrapper .dwmenu a {font-family: 'ITCBradleyHandW01-Bold';color: #f8981d !important;}
.rustynail-wrapper .dining-content div h5, .rustynail-wrapper .wedding-content div h5 {
font-weight: normal;text-transform: uppercase;font-family: 'MyriadPro-Regular';font-size: 12px;color: #000;}
.rustynail-wrapper .dining-content .initial-content p a,.rustynail-wrapper .readmore,.rustynail-wrapper .all-tabs p a.readmore, .rustynail-wrapper #tabs li .readmore, .rustynail-wrapper #tabs .final-content .readless {
font-size: 10px !important;font-family: arial !important;}

.rustynail-wrapper .galler-text h3, .rustynail-wrapper .gallery-images ul li a {
font-family: 'ITCBradleyHandW01-Bold' !important;color: #000 !important;}
.rustynail-wrapper .gallery-images ul li a{font-size: 13px;}
.rustynail-wrapper #tabs ul li a,.rustynail-wrapper .cong-content.cnt > h3,.rustynail-wrapper .cong-content.drt > h3,.rustynail-wrapper .cong-content.gly > h3,.rustynail-wrapper .cong-content.spl > h3 {
font-family: 'ITCBradleyHandW01-Bold';color: #f8981d !important;font-size: 16px !important;}
.rustynail-wrapper #tabs .gallery-images ul li a {font-size: 14px !important;sss}
.rustynail-wrapper .gallery-images .galler-text a{color: #f8981d !important;}
.rustynail-wrapper .v-gallery a{color: #f8981d !important;
font-family: 'Avenir LT W01 55 Roman';
font-weight: bold !important;
border: none;
font-size: 11px !important;
background: url("../img/beach-shack-images/bs-seperator.png") no-repeat right -3px;
padding: 0 9px;}
.rustynail-wrapper .dining-content div h6{font-family: 'MyriadPro-Regular';color: #000;font-weight: normal;
text-transform: uppercase;font-size: 12px;}
.rustynail-wrapper #tabs ul.wedding li a{font-size:20px !important;}
.rustynail-wrapper .cong-content .gallery-container h3.nav-single{padding-top:8px;}
.rustynail-wrapper #tabs ul li a, .rustynail-wrapper .cong-content.cnt > h3, .rustynail-wrapper .cong-content.drt > h3, .rustynail-wrapper .cong-content .gallery-container h3.nav-single, .rustynail-wrapper .cong-content.spl > h3{font-family: 'ITCBradleyHandW01-Bold' !important; color:#f8981d !important; font-size:17px !important;}
.beach-wrapper .gallery-container h3.nav-single{font-family: 'ITCBradleyHandW01-Bold' !important; color:#f8981d !important; font-size:17px !important;}
.beach-wrapper .galler-text h3,.rustynail-wrapper .galler-text h3{font-size:14px;}
.beach-wrapper .gallery-images ul li a, .beach-wrapper .gallery-images ul li a{font-family: 'ITCBradleyHandW01-Bold' !important; font-size:13px;}



/*pop up styles*/
.rustynail-body #cboxContent{background:#E7E6E4;}
.rustynail-body #cboxClose{background: #f8981d url("../img/sea-spa-images/close-btn.png") no-repeat center center;}


.rustynail-body .bx-wrapper .bx-caption span, .rustynail-body .gallerydet h3{font-family: 'ITCBradleyHandW01-Bold'; color:#000;font-weight:normal;}
.rustynail-body a.share .stButton, .rustynail-body a.share .stButton .chicklets{color:#f8981d !important;}

.beach-wrapper .beachshack.cong-content #rustynail {margin-bottom:132px;}
.beach-wrapper #rustynail .bottom-logo{bottom:0;}

/*blue pig tavern styles starts here*/

/*.bluepigtavern-body .wrapper{background: #F7E9E6 url("../img/bluepig-images/blue-pig-bg.jpg") repeat-x center top;}*/
.bluepigtavern-body .wrapper{background: #F7E9E6 url("../img/bluepig-images/bluepig-background.jpg") repeat-x center top;}


.bluepigtavern-body .wrapper-bottom{padding-bottom:15px;}
.logo.bluepigtavern{margin:0px 0px 10px 54px;}
.bluepigtavern-body p.reserve{font-family: 'eye_catchingregular';font-size: 35px;color:#60443b;top: -20px;padding-left:40px; background:url("../img/bluepig-images/phone-icon.png") no-repeat left top;line-height: 28px;}
.bluepigtavern-body .nav-corner-img{background:url("../img/bluepig-images/corner-image.png") no-repeat left top;}
.bluepigtavern-body .banner-navigation ul{background:url("../img/bluepig-images/navigation-bg.png") repeat left top;}
.bluepigtavern-body .banner-navigation ul li{background:url("../img/bluepig-images/navigation-dot.png") no-repeat right 18px;text-transform:capitalize;font-family: 'berthold_baskervillebold';}
.bluepigtavern-body .banner-navigation ul li a{color:#7a1600;opacity:1;}
.bluepigtavern-body .banner-navigation ul li a:hover, .bluepigtavern-body .banner-navigation ul li a.selected {color:#5f433a;}


.bluepigtavern-body ul.directions li{font-family: 'baskervillenormal';font-size:15px;}
.bluepigtavern-body ul.directions li a.no-link{color:#61453c;text-transform: uppercase;font-size:14px;}
.bluepigtavern-body ul.directions li a.identify{color:#954533;text-transform: uppercase; font-size:14px;}
.bluepigtavern-body .vec-icon, .bluepigtavern-body .you-icon, .bluepigtavern-body .fac-icon, .bluepigtavern-body .pin-icon{display:none;}
.bluepigtavern-body .twi-icon{background:url("../img/bluepig-images/twitter-icon.png") no-repeat center center;}

.bluepigtavern-body .mail-a{color:#61453c;/*font-family: 'baskervillenormal';*/background: #F9E7E3;}
.bluepigtavern-body .mail-bt{background:#7B1700 url("../img/sea-spa-images/mailing-arrow-T.png") no-repeat right center;}
.bluepigtavern-body #tabs ul li a, .bluepigtavern-body #tabs ul.wedding li a{font-family: 'baskervillenormal';font-size: 20px;}
.bluepigtavern-body .all-tabs a, .bluepigtavern-body a.share .stButton, .bluepigtavern-body a.share .stButton .chicklets, .bluepigtavern-body ul.directions li a.identify:hover, .bluepigtavern-body .galler-text a{color:#7B1700 !important;}
.bluepigtavern-body .galler-text a{font-family: 'berthold_baskervillebold';font-size:12px;}
.bluepigtavern-body .rt-bar{background:#B7E1E0;text-align:center;}
.bluepigtavern-body .rt-bar h2{margin-bottom:}
.bluepigtavern-body .cong-content .rt-bar h2, .bluepigtavern-body .cong-content .rt-bar h3{font-family: 'capitalsregular'; font-size:13px; color:#7a1600;text-transform: none !important;line-height: 17px;letter-spacing:1px;}
.bluepigtavern-body .cong-content .rt-bar h2{margin:0px 10px 7px 10px;font-size:16px;}
.bluepigtavern-body .cong-content .rt-bar h3{margin:0px 10px !important;}
.bluepigtavern-body .rt-bar h3.normal p{float:none;text-align:center;}
.bluepigtavern-body .resort-video a{font-family: 'capitalsregular';color:#7a1600;font-size: 13px;/*font-family:'Jazz W00';*/}
.bluepigtavern-body .cong-content .spring{padding-bottom:3px;}
.bluepigtavern-body .dwmenu a{color:#954533;}
.bluepigtavern-body #tabs p{color:#5f433a;}

/*directions and contact page styles*/
.bluepigtavern-body .directionDiv h3{font-family: 'baskervillenormal' !important;font-size: 20px;font-weight: normal !important;color: #61453c !important;}
.bluepigtavern-body .gallerydet h3{font-family: 'baskervillenormal' !important;font-size: 16px;font-weight: normal !important;color: #61453c !important;}
.bluepigtavern-body .cong-content .direct-content h2{font-family: 'baskervillenormal' !important;}
.bluepigtavern-body .google-map a, .bluepigtavern-body .gen-information h5, .bluepigtavern-body .gen-information h5 a{color:#7B1700;}

.bluepigtavern-body .gen-information.phone h4{font-family: 'bureaugrotesque_fiveoneRg' !important;font-size: 14px !important; margin: 0 0px 9px 0; color:#61453c !important;}
.bluepigtavern-body .directionDiv{padding-top:0px;}
.bluepigtavern-body .gallery-container{padding-top:6px;}
.bluepigtavern-body .direct-content{margin: 6px 0 0px 0;}
.bluepigtavern-body .gallery-container h3, .bluepigtavern-body .dining-content div h4{font-family:'baskervillenormal';font-size:15px;}
.bluepigtavern-body .gallery-container{margin-top:5px;}
.bluepigtavern-body .gallery-container h3.nav-single{font-size:20px;}
.bluepigtavern-body .gallery-container .galler-text h3{font-size:15px;  }
.bluepigtavern-body .galler-text{margin-top:9px;}
/*mailing list styles*/
.bluepigtavern-body #mailinglist * {color:#5f433a;}
.bluepigtavern-body #mailinglist td input, .bluepigtavern-body .SelectBg{border: 1px solid #7a1600;}
.bluepigtavern-body .SelectBg{background:#fff url("../img/bluepig-images/select.png") no-repeat center right; height: 24px;width: 294px;}
.bluepigtavern-body .defaultText.buttonStyle{background:#7a1600; color:#fff !important;}
.bluepigtavern-body .resort-video{width: 97%;border: 1px solid #fff; margin: 4px; }
.bluepigtavern-body .resort-video.reserveonline{padding-bottom: 72px;background:url("../img/bluepig-images/star1.png") no-repeat center bottom;}
/*.bluepigtavern-body .resort-video.reserveonline a{display: inline-block;border-bottom: 1px solid #7a1600;font-family:'Jazz W00';font-size:30px;line-height: 46px;}*/
.bluepigtavern-body .spring p{margin-bottom:0px;}
.bluepigtavern-body .spring p a{display: block; font-family:'Jazz W00';font-size:30px;line-height: 36px;color: #7a1600;text-align: center;background:url("../img/bluepig-images/star1.png") no-repeat center bottom;padding-bottom: 58px;padding-right:0px;}

.bluepigtavern-body .spring.springbrunch h2{font-family:'Jazz W00'; font-size:50px;text-transform: uppercase !important;line-height: 50px;margin-bottom: 14px;}
.bluepigtavern-body .spring.springbrunch h3{font-family:'Rockwell W01';text-transform:uppercase !important;font-size:30px;}
.bluepigtavern-body .spring.springbrunch p{display:block;float: none; margin: 12px 0 0px 0px; height:auto;
}
.bluepigtavern-body .spring.springbrunch a{background:none;color:#7a1600;display:block;padding: 0px;
text-align: center;font-family: 'capitalsregular'; text-transform: none !important;cursor: default;}
.bluepigtavern-body .spring.springbrunch a:hover{text-decoration:none;}



/*pop up box*/
.bluepigtavern-body #cboxContent {background:#F7E9E6;}
/*.bluepigtavern-body .bx-controls-direction a{margin-top: -15px;}
.bluepigtavern-body .bx-wrapper .bx-prev{background: #7a1600 url("../img/sea-spa-images/prev-arrow.png") no-repeat center center;}
.bluepigtavern-body .bx-wrapper .bx-next{background: #7a1600 url("../img/sea-spa-images/next-arrow.png") no-repeat center center;}
.bluepigtavern-body .jcarousel-skin-tango .jcarousel-prev-vertical{background: #7a1600 url("../img/sea-spa-images/up-arrow.png") no-repeat center center;/*top: -60px;}

.bluepigtavern-body .jcarousel-skin-tango .jcarousel-next-vertical{background: #7a1600 url("../img/sea-spa-images/down-arrow.png") no-repeat center center;}*/


.bluepigtavern-body #cboxClose{background-color: #7a1600;}


/*blue pig tavern styles end here*/



/*styles edit*/
.beach-wrapper .cong-content{padding-top:10px !important;}

/*styles for home page*/
.caperesort-home-body .cong-content{padding-top:0px;padding-bottom:0px;}
.caperesort-home-body .rslides{max-height: initial;}
.socialDiv.home p{color: #847336; font: 16px/24px 'Optima LT W01 Italic';word-spacing: -1px}
.wedding_home p, .home_specials01 p{color: #847336; font: 15px/17px 'Optima LT W01 Italic';}
ul.home_specials01{float: left; width: 100%;margin-top:16px;}
.ourhotels p{font-family: 'eye_catchingregular';font-size:54px;padding-left: 5px;}
.wedding_home .winter{ font: 55px/33px 'eye_catchingregular';color: #3D89A8;margin: 10px 0;}
.wedding_home{width: 290px;margin-bottom: 20px !important; }
.ourhotels .wedding_home{margin-left:10px !important;width:810px !important;float:right !important; text-align: justify;margin-right: 7px;}
.ourhotels .wedding_home p{font: 12px/14px 'Avenir LT W01 55 Roman';margin: 0px 0px 10px 0px !important;}
.ourhotels .wedding_home .initial-content, .ourhotels .wedding_home .final-content{margin:0px !important;}
.ourhotels .wedding_home .initial-content a, .ourhotels .wedding_home .final-content a{font: bold 12px/14px 'optimaregular' !important; text-transform:capitalize; color:#847336;font-style:italic !important;}
.home_specials01 li{float: left;}
.wedding_home strong{font-weight: bold;}
.wedding_home.middle{border-right: 1px solid #847336;border-left: 1px solid #847336;padding: 0 15px 0 20px;width: 310px;margin: 0 20px 0 2px;}
.caperesort-home-body .wrapper{background-color: #fff;}
p.star08{text-align: center;padding: 10px 0 70px 0;}
p.star08 img{margin-right: 13px;}
.home_specials01 li p{font: 15px/17px 'Optima LT W01 Italic'}
.wedding_home strong a{font: bold 15px/23px 'Optima LT W01 Italic';color: #847336;}

/*styles for carrier page*/
.carrier_container li.odd, .carrier_container li.even{float: left;width: 100%;/*min-height: 96px;*/margin-bottom: 3px;}
.file_submit{width: 96%;float: left;/*min-height: 78px;*/padding: 11px 15px 11px 10px;border: 1px solid transparent;}
.job-table h3 a {font: 17px/20px 'Optima LT W01 Italic' ;color: #906C15;font-style: normal;opacity: 1;text-transform:uppercase;}
.job-table p, .job-table p a{font: 13px/16px 'HelveticaNeueRegular';color: #6D6D65;/*text-transform:capitalize;*/}
.job-table p a{font-style:italic !important;}
.job-table .hide{padding: 10px 0px 0px;width: 97%;}
 p.submit-form{padding: 10px 0 5px 0;width: 97%;}
.carrier_container li.odd{background: #ECECEC;}
.carrier_container li.even{background: #fff;}
.carrier_container span.parent_cat{border-bottom: 1px solid #9B733F;padding-bottom: 13px;margin-bottom: 14px;width: 100%; float: left;}
#carrer_sidebar{margin: 20px 0 0 0;}
#carrer_sidebar img{margin: 0 0 20px 0;}
.content.carrier_container{width: 680px;min-height: 730px;}
p.submit-form{font-weight: bold;}
p.submit-form a{font-weight: bold;color: #906C15;}
.content.carrier_container .file_submit .hide p{margin-top: 20px;}
/*.job-table .output{bottom: -70px !important;left: 13px !important;}*/
.job-table .output{bottom: -36px !important;left: 156px !important;}
.content.carrier_container div.upload {height: 27px;background: transparent;overflow: visible;}
.content.carrier_container .upload_button, #reset_button{background: none;border: none;color: #906C15;font-weight: bold;padding:0px 0 0px 13px; cursor:pointer;display: block;float: left;line-height: 15px; }
.content.carrier_container div.upload p{background:none ;z-index: 2;position: relative;bottom: 17px;}
.content.carrier_container div.upload p.imagename{z-index: 1; top: 0;padding: 0px 0 0px 13px;height: 25px;font-style: italic;line-height: 25px;width: 528px;}
.content.carrier_container li.even div.upload p.imagename{background:#ECECEC;}
.content.carrier_container li.odd div.upload p.imagename{background:#fff;}
.content.carrier_container .file_submit .job_description p {margin: 0;}
.content.carrier_container div.upload input[type="file"]{background: transparent;border: none;float: left;height: 25px;
margin: -26px 0 0 0;}
.content.carrier_container .submit-resume{font-weight: bold;cursor:default;}

/*header menu styles goes here*/
.chzn-search{display: none;}
.chzn-container .chzn-drop{opacity: 0.8; border: none !important;}
.nav-top .chzn-container .chzn-results li{font-size: 11px;}
.chzn-container .chzn-results{margin: 2px 4px 4px 0;}

/*starinn style starts from here*/
.logo.starinn-logo{margin: 0 0 0 21px;height: auto;}
.wrapper.starinn-wrapper{background: #fef6df url("../img/starinn/star-bg.jpg") repeat-x top left;}
.wrapper.starinn-wrapper .nav-corner-img{background: url("../img/starinn/star-corner-image.png") no-repeat;}
.wrapper.starinn-wrapper .banner-navigation ul{background: url("../img/starinn/star-menu.bg.png") repeat-x;}
.starinn-wrapper .banner-navigation ul li{background: url("../img/sea-spa-images/spa-dots-w.png") no-repeat right center;}
.starinn-wrapper .banner-navigation ul li a:hover, .starinn-wrapper .banner-navigation ul li a.selected{color: #f2e4a6;}
.starinn-wrapper .banner-navigation ul li a{color: #fff;opacity: 1;font-family:'neutra_displaytitling'}
.starinn-wrapper .spring, .starinn-wrapper .sea, .starinn-wrapper .retreat{padding: 10px 6px 10px 7px;margin: 4px;border: 1px solid #FEF6DE;width: 278px;}
.starinn-wrapper .resort-video{padding: 0 6px 0 7px;margin: 4px;border: 1px solid #FEF6DE;width: 278px;}
.starinn-wrapper .rt-bar .resort-video a{background: none;}
.starinn-wrapper .rt-bar a{background: url("../img/starinn/star-star.png") no-repeat right center; font: 12px/13px 'neutra_displaytitling';color: #fff;}
.starinn-wrapper .rt-bar{background: #E55C4C;width: 300px;}

.starinn-wrapper .rt-bar h2{font: 18px/27.89px 'neutra_displaytitling';color: #F2E4A6;}
.starinn-wrapper .cong-content .rt-bar h3{font: 18px/20px 'neutra_displaytitling';color: white;}
.starinn-wrapper #tabs ul li{background: url("../img/con-images/tabs-divider.png") no-repeat right center}
.starinn-wrapper #tabs ul li a{font: bold 19px/22px 'neutra_textbook_alt';color:#DB4F3E;}
.starinn-wrapper .social-icons .vec-icon a{background: url("../img/congress-hall-images/vector-smart.png") no-repeat;}
.starinn-wrapper #tabs .initial-content p a{line-height:15px;}
.starinn-wrapper .directions li a.identify, .starinn-wrapper .gen-information h5, .starinn-wrapper .gen-information h5 a, .starinn-wrapper #tabs .dining-content .view-links a, .starinn-wrapper .initial-content a,.starinn-wrapper a.share .stButton, .starinn-wrapper a.share .stButton .chicklets,.starinn-wrapper .galler-text a, .starinn-wrapper .final-content p a.readless,.starinn-body a.share .stButton, .starinn-body a.share .stButton .chicklets, .starinn-body .gallerydet h3, .starinn-wrapper .google-map a{color: #DB4F3E !important;}
.starinn-wrapper .directions li a{font-family:'neutra_textbook_alt';font-size: 13px;font-weight: bold;color: #633A2A;opacity: 1;}
.starinn-wrapper #directions .directionDiv h3,.starinn-wrapper .cong-content h3{font: bold 20px/20px 'neutra_textbook_alt'}
.starinn-wrapper .cong-content .direct-content h2{text-transform: uppercase;font-weight: bold;font-family: 'neutra_textbook_alt';}
.starinn-wrapper .google-map a{text-transform: none;font-size: 12px;color: #61453C;float:left;}
.starinn-wrapper .google-map span{float:left;}
.starinn-wrapper .google-map span a{font-weight:normal;margin-top:2px;}
.starinn-wrapper .google-map p, .starinn-wrapper .specific span, .bluepigtavern-body .google-map p, .bluepigtavern-body .specific span{clear:both;font-size: 13px;text-transform: inherit;color:#61453c;}
.starinn-wrapper .specific h2{margin-bottom: 0px;}
.starinn-wrapper .gen-information h3{margin-bottom:1px;}
.starinn-wrapper .gen-information, .starinn-wrapper .gen-information h3, .starinn-wrapper .gen-information, .starinn-wrapper .gen-information h4, .starinn-wrapper .cong-content .direct-content h2 {color: #61453C !important;}
.starinn-wrapper .cong-content .direct-content .find-us h2{text-transform: inherit;}
.starinn-wrapper .direct-content h3{font-family:'neutra_textbook_alt' !important;}
.starinn-wrapper .gen-information.phone{margin: 25px 0 0 20px;}
.starinn-wrapper .gen-information.phone h4{padding: 0 0 6px 0;color: #61453C !important;font-size: 15px;font-family: 'neutra_textbook_alt' !important;}
.starinn-wrapper .gen-information h5{font-family: 'HelveticaNeueRegular';}
.starinn-wrapper #tabs ul li:last-child{background: none;}
.starinn-wrapper .v-gallery a{border-right: 1px solid #DB4F3E !important;}

.starinn-wrapper .v-gallery a:last-child,.starinn-wrapper #tabs ul li.meeting-content{background: none !important;border: none !important;}
.starinn-wrapper .all-tabs h5, .starinn-wrapper .all-tabs h6, .starinn-wrapper .dining-content div h4, .starinn-wrapper .galler-text a, .starinn-wrapper #tabs .tabs_div h3{font-family: 'neutra_textbook_alt'; font-weight: bold;}
.starinn-body #cboxWrapper #cboxContent{background: #FEF6DF !important;}
.starinn-wrapper .you-icon,.starinn-wrapper .fac-icon,.starinn-wrapper .twi-icon,.starinn-wrapper .pin-icon{display: none;}
.starinn-wrapper .mail-bt{background: #673729 url("../img/sea-spa-images/mailing-arrow-T.png") no-repeat right center}
.starinn-wrapper .wrapper-bottom{padding-bottom: 15px;}
.starinn-wrapper .initial-content p a, .starinn-wrapper .final-content p a.readless{font-style: italic !important;}
.starinn-body .galler-text h3{font-size:17px;}
.starinn-body .gallerydet h3,.starinn-body #tabs h3,.starinn-body .sectionHeader{font-family: 'neutra_textbook_alt'}
.starinn-wrapper #mailinglist td input{border: 1px solid #DB4F3E !important;}
.starinn-body .defaultText.buttonStyle{background:  #DB4F3E !important; font-family:'neutra_textbook_alt'; color: #fff !important; font-weight: bold; }
.starinn-body .sectionHeader{font-weight: bold;}

.starinn-wrapper .SelectBg {background: white url("../img/starinn/star-arrow-img.png") no-repeat center right;border: 1px solid #DB4F3E; height: 24px; width: 294px;}
/*.starinn-body .bx-wrapper .bx-prev, .starinn-body .bx-wrapper .bx-next,.starinn-body .jcarousel-skin-tango .jcarousel-prev-vertical,.starinn-body #cboxClose,.starinn-body .jcarousel-skin-tango .jcarousel-next-vertical */
.starinn-body #cboxClose{background-color: #DB4F3E;}
.starinn-wrapper .mail-a {font-family: 'Avenir LT W01 55 Roman'; line-height: 25px;}
.starinn-wrapper .v-gallery a{padding: 0px 10px 0 10px; margin: 4px 0 0 0;}

.starinn-wrapper .final-content *, .starinn-wrapper .initial-content *{font-size:13px !important;}
.starinn-wrapper .final-content a, .starinn-wrapper .initial-content a{font-size:11px !important;}
.starinn-wrapper .all-tabs *{color:#61453c;}
.starinn-wrapper .all-tabs h4{text-transform:inherit;margin-bottom: 6px;}
/*seasonal*/
.seasonal-body a , .service-wrapper a {color:#948271;}
.seasonal-body .wrapper.service-wrapper{background-size:auto;}
.seasonal-body li.vec-icon,.seasonal-body li.you-icon,.seasonal-body li.fac-icon,.seasonal-body p.reserve{display: none;}
.seasonal-body li a.identify.seasonal-con{display: block !important;}
.seasonal-body ul.directions{float: none;}
.seasonal-body ul.directions li a, .seasonal-body .service-wrapper a.identify.seasonal-dir{display: none;}
.seasonal-wrapper .cong-content .rt-bar {background: #61B2DE;}
.seasonal-wrapper .spring, .seasonal-wrapper .sea, .seasonal-wrapper .retreat{padding: 10px 0px 0px 0px;margin: 4px;border: 1px solid white;width: 287px;float: left;font-family: 'Chaparral W01 Regular';}
.seasonal-wrapper .cong-content .rt-bar h2, .seasonal-wrapper .cong-content .rt-bar h4, .seasonal-wrapper  .cong-content .rt-bar h3, .seasonal-wrapper .cong-content .resort-video a, .seasonal-wrapper .cong-content .rt-bar a {font-family: 'optimaregular';font-weight: normal;color: white !important;text-transform: lowercase !important;font-size: 26px;padding: 0px 25px;line-height: 30px;text-align: center}
.seasonal-wrapper p.reserve{display: none;}
.seasonal-body .rt-bar h3.normal p{text-align:center; margin-bottom:10px;}
.wrapper.seasonal-wrapper{background-color: #fff;}
.seasonal-wrapper .nav-corner-img {background: url(../img/beach-service-image/corner-image.png) no-repeat left center;}
.seasonal-wrapper .banner-navigation ul {background: url(../img/beach-service-image/navigation-bg.png) repeat left center;}
.seasonal-wrapper .spring h3, .seasonal-wrapper .sea p, .seasonal-wrapper .retreat p{text-align: center;margin: 5px 0px;font-size: 16px;height: auto;line-height: 16px;padding: 0 10px;font-family: 'Chaparral W01 Regular';}
.seasonal-wrapper .resort-video a, .seasonal-wrapper .rt-bar a{font-size: 16px;background: none;padding: 0px;text-align: center;}
.seasonal-wrapper .rt-bar p, .seasonal-wrapper .rt-bar p {margin: 3px 0 8px 0px;width: 100%;height: auto;}
.seasonal-wrapper .resort-video {border-top: 2px solid #EEEAE7;height: 44px;}
.seasonal-wrapper .wrapper-bottom{padding-bottom: 15px;}
.seasonal-wrapper .banner-navigation ul li a:hover, .seasonal-wrapper .banner-navigation ul li a.selected {color: #CFE0F3;}
.seasonal-wrapper .banner-navigation ul li a:hover, .seasonal-wrapper .banner-navigation ul li a.selected {color: #CFE0F3;}
.seasonal-wrapper .banner-navigation ul li a {color: white;opacity: 1;display: block;padding-top: 2px;line-height: 34px;}
.service-wrapper .gen-information h5{margin: 5px 0 0 0;}


/*Baron's Covn*/
.baronscove-body ul.social-icons{display: none;}
.baronscove-body .service-wrapper .rt-bar h2, .baronscove-body .service-wrapper .rt-bar h4, .baronscove-body  .service-wrapper .rt-bar h3, .baronscove-body .service-wrapper .resort-video a, .baronscove-body .service-wrapper .rt-bar a{text-transform: none !important;}
.baronscove-body .service-wrapper .spring p a{font-weight: bold;}
.baronscove-body .service-wrapper .rt-bar .spring h3 {font-size: 30px;font-family: 'optimaregular';}
.baronscove-body .service-wrapper .rt-bar .spring h3,.baronscove-body .service-wrapper .rt-bar .spring h2, .rt-bar .spring h4 {font-weight: normal;font-family: 'optimaregular';}
.baronscove-body .service-wrapper .rt-bar .spring span {font-size: 17px;display: block;margin: 4px 0px;font-family: 'optimaregular';}
.baronscove-body .service-wrapper .rt-bar address {font-style: normal;margin-top: 12px;margin-bottom: 10px;font-family: 'optimaregular';line-height: 31px;}
.baronscove-body .service-wrapper .rt-bar .spring h4 {font-size: 20px;font-family: 'optimaregular';padding: 0px 25px;}
.service-wrapper .spring.presscontact,.service-wrapper  .spring.baroncove {padding: 15px 0px 15px 0px;}
.service-wrapper .spring.baroncove h2 {font-size: 25px;}
.service-wrapper .spring.baroncove h3 {font-size: 30px;}
.service-wrapper .spring.presscontact h2{font-size: 17px;}
.spring.baroncove p{text-align: center;}
.baronscove-body .service-wrapper #tabs ul.wedding li a,.baronscove-body .service-wrapper #tabs ul li a, .baronscove-body .service-wrapper .directionDiv > h3{text-transform: capitalize;}
.baronscove-body .service-wrapper .cong-content  .google-map h2,.baronscove-body .service-wrapper .cong-content .gen-information h3,.baronscove-body .service-wrapper .cong-content .gen-information.phone h4:first-child{text-transform: uppercase !important;font: bold 15px/25px 'bureaugrotesque_fiveoneRg' !important;}
.baronscove-body .service-wrapper .cong-content  .dir-left h2 {text-transform: capitalize !important;font: 15px/25px 'bureaugrotesque_fiveoneRg' !important;}

.service-body #ui-datepicker-div{width:169px;background: #ccc;}



/*common*/
#cboxClose{top: 10px !important;}
.sandpiper-body #cboxClose, .congresshall-body #cboxClose, .rustynail-body #cboxClose, .starinn-body #cboxClose, .ebbit-body #cboxClose, .beachplumfarm-body #cboxClose, .virginia-body #cboxClose{top: 10px !important;}
{top: 13px !important;}
.gallery_popup img.pint, .west-end-body .bxslider li a{bottom: 0px !important;top: -32px !important;right: 64px; }
#cboxLoadedContent .bx-viewport{overflow: visible !important;}

@font-face {
    font-family: 'neutra_displaytitling';
    src: url('../fonts/neutra_display_titling-webfont.eot');
    src: url('../fonts/neutra_display_titling-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neutra_display_titling-webfont.woff') format('woff'),
         url('../fonts/neutra_display_titling-webfont.ttf') format('truetype'),
         url('../fonts/neutra_display_titling-webfont.svg#neutra_displaytitling') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'neutra_textbook_alt';
    src: url('../fonts/neutratext-bookalt-webfont.eot');
    src: url('../fonts/neutratext-bookalt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neutratext-bookalt-webfont.woff') format('woff'),
         url('../fonts/neutratext-bookalt-webfont.ttf') format('truetype'),
         url('../fonts/neutratext-bookalt-webfont.svg#neutra_textbook_alt') format('svg');
    font-weight: normal;
    font-style: normal;

}

/** Generated by FG **/
@font-face {
	font-family: 'Conv_NeutraDisp-Bold';
	src: url('../fonts/NeutraDisp-Bold.eot');
	src: url('../fonts/NeutraDisp-Bold.woff') format('woff'), url('../fonts/NeutraDisp-Bold.ttf') format('truetype'), url('../fonts/NeutraDisp-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

