    <div id="mailinglist" class="hide"> 
        <form action=
        "http://www.pages04.net/caperesorts/Optin-CapeMay/Optin-CapeMay"
        method="post">
            <input name="formSourceName" type="hidden" value=
            "StandardForm"><input name="sp_exp" type="hidden" value="yes">

            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="padding: 5px 0px 0px 5px;">
                        <div style=
                        "position: relative; overflow: hidden; width:485px;">
                            <div style="width: 479px; overflow: hidden;">
                                <div class="sectionHeader" style=
                                "width: 479px; margin: 5px 3px;">
                                    Cape Resorts Subscription Center
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="padding: 5px 0px 0px 5px;">
                        <div id="container_EMAIL" style=
                        "position: relative; overflow: hidden; width:485px;">
                            <table>
                                <tr>
                                    <td height="100%" style=
                                    "padding: 3px 5px 0px 0px;" valign="top"
                                    width="175px">
                                        <div style=
                                        "width: 180px; overflow: hidden;">
                                            <div class="fieldLabel" style=
                                            "width: 180px; text-align: right;">
                                                Email<span class=
                                                "required">*</span>
                                            </div>
                                        </div>
                                    </td>

                                    <td height="100%" style="padding: 0px;"
                                    valign="top" width="100%"><input class=
                                    "textInput defaultText" id="control_EMAIL"
                                    name="Email" style=
                                    "margin: 0 3px 5px 0px; height: 22px; width: 294px;"
                                    type="text"></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="padding: 5px 0px 0px 5px;">
                        <div id="container_COLUMN1" style=
                        "position: relative; overflow: hidden; width:485px;">
                            <table>
                                <tr>
                                    <td height="100%" style=
                                    "padding: 3px 5px 0px 0px;" valign="top"
                                    width="175px">
                                        <div style=
                                        "width: 180px; overflow: hidden;">
                                            <div class="fieldLabel" style=
                                            "width: 180px; text-align: right;">
                                                First Name
                                            </div>
                                        </div>
                                    </td>

                                    <td height="100%" style="padding: 0px;"
                                    valign="top" width="100%"><input class=
                                    "textInput defaultText" id=
                                    "control_COLUMN1" name="first_name" style=
                                    "margin: 0 3px 5px 0px; height: 22px; width: 294px;"
                                    type="text"></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="padding: 5px 0px 0px 5px;">
                        <div id="container_COLUMN2" style=
                        "position: relative; overflow: hidden; width:485px;">
                            <table>
                                <tr>
                                    <td height="100%" style=
                                    "padding: 3px 5px 0px 0px;" valign="top"
                                    width="175px">
                                        <div style=
                                        "width: 180px; overflow: hidden;">
                                            <div class="fieldLabel" style=
                                            "width: 180px; text-align: right;">
                                                Last Name
                                            </div>
                                        </div>
                                    </td>

                                    <td height="100%" style="padding: 0px;"
                                    valign="top" width="100%"><input class=
                                    "textInput defaultText" id=
                                    "control_COLUMN2" name="last_name" style=
                                    "margin: 0 3px 5px 0px; height: 22px; width: 294px;"
                                    type="text"></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="padding: 5px 0px 0px 5px;">
                        <div id="container_COLUMN6" style=
                        "position: relative; overflow: hidden; width:485px;">
                            <table>
                                <tr>
                                    <td height="100%" style=
                                    "padding: 3px 5px 0px 0px;" valign="top"
                                    width="175px">
                                        <div style=
                                        "width: 180px; overflow: hidden;">
                                            <div class="fieldLabel" style=
                                            "width: 180px; text-align: right;">
                                                Address
                                            </div>
                                        </div>
                                    </td>

                                    <td height="100%" style="padding: 0px;"
                                    valign="top" width="100%"><input class=
                                    "textInput defaultText" id=
                                    "control_COLUMN6" name="address_1" style=
                                    "margin: 0 3px 5px 0px; height: 22px; width: 294px;"
                                    type="text"></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="padding: 5px 0px 0px 5px;">
                        <div id="container_COLUMN8" style=
                        "position: relative; overflow: hidden; width:485px;">
                            <table>
                                <tr>
                                    <td height="100%" style=
                                    "padding: 3px 5px 0px 0px;" valign="top"
                                    width="175px">
                                        <div style=
                                        "width: 180px; overflow: hidden;">
                                            <div class="fieldLabel" style=
                                            "width: 180px; text-align: right;">
                                                City
                                            </div>
                                        </div>
                                    </td>

                                    <td height="100%" style="padding: 0px;"
                                    valign="top" width="100%"><input class=
                                    "textInput defaultText" id=
                                    "control_COLUMN8" name="city" style=
                                    "margin: 0 3px 5px 0px; height: 22px; width: 294px;"
                                    type="text"></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="padding: 5px 0px 0px 5px;">
                        <div id="container_COLUMN9" style=
                        "position: relative; overflow: hidden; width:485px;">
                            <table>
                                <tr>
                                    <td height="100%" style=
                                    "padding: 3px 5px 0px 0px;" valign="top"
                                    width="175px">
                                        <div style=
                                        "width: 180px; overflow: hidden;">
                                            <div class="fieldLabel" style=
                                            "width: 180px; text-align: right;">
                                                State
                                            </div>
                                        </div>
                                    </td>

                                    <td class="SelectBg" height="100%" valign="top"><select class=
                                    "selectInput defaultText" id=
                                    "control_COLUMN9" name="state" style=
                                    "margin: 0px; height: 22px; width: 320px;">
                                    <option selected value="">
                                            Select one
                                        </option>


<option value="AL">Alabama</option> 
<option value="AK">Alaska</option> 
<option value="AZ">Arizona</option> 
<option value="AR">Arkansas</option> 
<option value="CA">California</option> 
<option value="CO">Colorado</option> 
<option value="CT">Connecticut</option> 
<option value="DE">Delaware</option> 
<option value="DC">District Of Columbia</option> 
<option value="FL">Florida</option> 
<option value="GA">Georgia</option> 
<option value="HI">Hawaii</option> 
<option value="ID">Idaho</option> 
<option value="IL">Illinois</option> 
<option value="IN">Indiana</option> 
<option value="IA">Iowa</option> 
<option value="KS">Kansas</option> 
<option value="KY">Kentucky</option> 
<option value="LA">Louisiana</option> 
<option value="ME">Maine</option> 
<option value="MD">Maryland</option> 
<option value="MA">Massachusetts</option> 
<option value="MI">Michigan</option> 
<option value="MN">Minnesota</option> 
<option value="MS">Mississippi</option> 
<option value="MO">Missouri</option> 
<option value="MT">Montana</option> 
<option value="NE">Nebraska</option> 
<option value="NV">Nevada</option> 
<option value="NH">New Hampshire</option> 
<option value="NJ">New Jersey</option> 
<option value="NM">New Mexico</option> 
<option value="NY">New York</option> 
<option value="NC">North Carolina</option> 
<option value="ND">North Dakota</option> 
<option value="OH">Ohio</option> 
<option value="OK">Oklahoma</option> 
<option value="OR">Oregon</option> 
<option value="PA">Pennsylvania</option> 
<option value="RI">Rhode Island</option> 
<option value="SC">South Carolina</option> 
<option value="SD">South Dakota</option> 
<option value="TN">Tennessee</option> 
<option value="TX">Texas</option> 
<option value="UT">Utah</option> 
<option value="VT">Vermont</option> 
<option value="VA">Virginia</option> 
<option value="WA">Washington</option> 
<option value="WV">West Virginia</option> 
<option value="WI">Wisconsin</option> 
<option value="WY">Wyoming</option>
                                    </select></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="padding: 5px 0px 0px 5px;">
                        <div id="container_COLUMN10" style=
                        "position: relative; overflow: hidden; width:485px;">
                            <table>
                                <tr>
                                    <td height="100%" style=
                                    "padding: 3px 5px 0px 0px;" valign="top"
                                    width="175px">
                                        <div style=
                                        "width: 180px; overflow: hidden;">
                                            <div class="fieldLabel" style=
                                            "width: 180px; text-align: right;">
                                                ZIp Code
                                            </div>
                                        </div>
                                    </td>

                                    <td height="100%" style="padding: 0px;"
                                    valign="top" width="100%"><input class=
                                    "textInput defaultText" id=
                                    "control_COLUMN10" name="postalcode" style=
                                    "margin: 0 3px 5px 0px; height: 20px; width: 294px;"
                                    type="text"></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="padding: 5px 0px 0px 5px;">
                        <div style=
                        "position: relative; overflow: hidden; width:485px;">
                            <div style="width: 479px; overflow: hidden;">
                                <div class="sectionHeader" style=
                                "width: 479px; margin: 5px 3px;">
                                    I would like to subscribe these emails:
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="padding: 5px 0px 0px 5px;">
                        <div id="container_COLUMN31" style=
                        "position: relative; overflow: hidden; width:485px;">
                            <table>
                                <tr>
                                    <td height="100%" style=
                                    "padding: 3px 5px 0px 0px;" valign="top"
                                    width="175px">
                                        <div style=
                                        "width: 180px; overflow: hidden;">
                                            <div class="fieldLabel" style=
                                            "width: 180px; text-align: right;">
                                                Check the boxes to opt
                                                in<span class=
                                                "required">*</span>
                                            </div>
                                        </div>
                                    </td>

                                    <td height="100%" style="padding: 0px;"
                                    valign="top" width="100%">
                                        <div>
                                            <table border="0" cellpadding="0"
                                            cellspacing="0">
                                                <tr>
                                                    <td>
                                                        <table border="0"
                                                        cellpadding="0"
                                                        cellspacing="0">
                                                            <tr>
                                                                <td style=
                                                                "width: 292px">
                                                                    <div class=
                                                                    "checkbox_wrap">
                                                                    <input class="checkbox"
                                                                        name=
                                                                        "CapeMay_Optin"
                                                                        type=
                                                                        "checkbox"
                                                                        value=
                                                                        "Beach Shack"><label class="checkbox_label">Beach
                                                                        Shack</label>
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td style=
                                                                "width: 292px">
                                                                    <div class=
                                                                    "checkbox_wrap">
                                                                    <input class="checkbox"
                                                                        name=
                                                                        "CapeMay_Optin"
                                                                        type=
                                                                        "checkbox"
                                                                        value=
                                                                        "Congress Hall"><label class="checkbox_label">Congress
                                                                        Hall</label>
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td style=
                                                                "width: 292px">
                                                                    <div class=
                                                                    "checkbox_wrap">
                                                                    <input class="checkbox"
                                                                        name=
                                                                        "CapeMay_Optin"
                                                                        type=
                                                                        "checkbox"
                                                                        value=
                                                                        "Star Inn"><label class="checkbox_label">Star
                                                                        Inn</label>
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td style=
                                                                "width: 292px">
                                                                    <div class=
                                                                    "checkbox_wrap">
                                                                    <input class="checkbox"
                                                                        name=
                                                                        "CapeMay_Optin"
                                                                        type=
                                                                        "checkbox"
                                                                        value=
                                                                        "Sandpiper Beach Club"><label class="checkbox_label">Sandpiper
                                                                        Beach
                                                                        Club</label>
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td style=
                                                                "width: 292px">
                                                                    <div class=
                                                                    "checkbox_wrap">
                                                                    <input class="checkbox"
                                                                        name=
                                                                        "CapeMay_Optin"
                                                                        type=
                                                                        "checkbox"
                                                                        value=
                                                                        "Virginia Hotel"><label class="checkbox_label">Virginia
                                                                        Hotel</label>
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td style=
                                                                "width: 292px">
                                                                    <div class=
                                                                    "checkbox_wrap">
                                                                    <input class="checkbox"
                                                                        name=
                                                                        "CapeMay_Optin"
                                                                        type=
                                                                        "checkbox"
                                                                        value=
                                                                        "The Cottages"><label class="checkbox_label">The
                                                                        Cottages</label>
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td style=
                                                                "width: 292px">
                                                                    <div class=
                                                                    "checkbox_wrap">
                                                                    <input class="checkbox"
                                                                        name=
                                                                        "CapeMay_Optin"
                                                                        type=
                                                                        "checkbox"
                                                                        value=
                                                                        "Blue Pig Tavern"><label class="checkbox_label">Blue
                                                                        Pig
                                                                        Tavern</label>
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td style=
                                                                "width: 292px">
                                                                    <div class=
                                                                    "checkbox_wrap">
                                                                    <input class="checkbox"
                                                                        name=
                                                                        "CapeMay_Optin"
                                                                        type=
                                                                        "checkbox"
                                                                        value=
                                                                        "Ebbitt Room"><label class="checkbox_label">Ebbitt
                                                                        Room</label>
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td style=
                                                                "width: 292px">
                                                                    <div class=
                                                                    "checkbox_wrap">
                                                                    <input class="checkbox"
                                                                        name=
                                                                        "CapeMay_Optin"
                                                                        type=
                                                                        "checkbox"
                                                                        value=
                                                                        "Sea Spa"><label class="checkbox_label">Sea
                                                                        Spa</label>
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td style=
                                                                "width: 292px">
                                                                    <div class=
                                                                    "checkbox_wrap">
                                                                    <input class="checkbox"
                                                                        name=
                                                                        "CapeMay_Optin"
                                                                        type=
                                                                        "checkbox"
                                                                        value=
                                                                        "West End Garage"><label class="checkbox_label">West
                                                                        End
                                                                        Garage</label>
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td style=
                                                                "width: 292px">
                                                                    <div class=
                                                                    "checkbox_wrap">
                                                                    <input class="checkbox"
                                                                        name=
                                                                        "CapeMay_Optin"
                                                                        type=
                                                                        "checkbox"
                                                                        value=
                                                                        "All Emails"><label class="checkbox_label">All
                                                                        Emails</label>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="formErrorMessages" id="errorMessageContainerId"
                    style="display: none;"></td>
                </tr>

                <tr>
                    <td style="padding: 5px 0px 0px 5px;">
                        <div style=
                        "position: relative; overflow: hidden; width:485px;">
                            <table>
                                <tr>
                                    <td height="100%" style=
                                    "padding: 3px 5px 0px 0px;" valign="top"
                                    width="175px">
                                        <div style=
                                        "width: 180px; overflow: hidden;">
                                            <div class="fieldLabel" style=
                                            "width: 180px; text-align: right;">
                                            </div>
                                        </div>
                                    </td>

                                    <td height="100%" style="padding: 0px;"
                                    valign="top" width="100%">
                                        <table border="0" cellpadding="0"
                                        cellspacing="0">
                                            <tr>
                                                <td style=
                                                "padding-right: 10px;">
                                                <input class=
                                                "defaultText buttonStyle" type=
                                                "submit" value="Submit"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr><!-- DO NOT REMOVE HIDDEN FIELD sp_exp -->
            </table>
        </form>
    </div>

