/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
max-height:375px;
min-height:375px;
  padding: 0;
  margin: 0;

  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
  .rslides_tabs{position:absolute;right:14px;bottom:9px;width:auto; z-index:12;height:11px;overflow:hidden;}
 .rslides_tabs li{float:left;width:16px; height:11px;
 /*background:transparent url("../../img/congress-hall-images/navi-normal.png") no-repeat center center;*/
 background:#fff; opacity:0.6 !important;
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
 margin-right:2px;}
 .rslides_tabs li:hover{
 /*background:url("../../img/congress-hall-images/navi-active.png") no-repeat center center;*/
 background:#fff; opacity:1 !important;
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
 }
 .rslides_tabs li a{display:block;text-indent:-9999px;}
 
.rslides_tabs li.rslides_here{
/*background:url("../../img/congress-hall-images/navi-active.png") no-repeat center center;*/
 background:#fff; opacity:1 !important
}
