body {
	font-family: Arial, Helvetica, sans-serif;
	color:#641d00;
	overflow: auto;
	position: relative;
}

td {
	font-family: Arial, Helvetica, sans-serif;
	color:#641d00;
}



td.centering2 {
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(images/background2.gif);
	background-repeat: no-repeat;
	overflow: auto;
	position: relative;
	
}

th {
	font-family: Arial, Helvetica, sans-serif;
	color:#641d00;
}

.menutitle{
cursor:pointer;
color:#000000;
width:160px;
text-align:center;
font-weight:bold;
background-color:#ffffe6;
}

.submenu1{
width:163px;
background-color:#ffffe6;
display: none;

}


.nav {
	width:163px;
	text-align:left;
	padding-paddin:5px;
  
}

#merchandise{
	align:right;
	width: 780px;
	height:403px;
	text-align:left;
	padding-right:5px;
	padding-left:5px;
	position:relative;
	overflow:auto;
}

.open a {
text-indent: 5px;
	background:  #ffe153;
	display: block;
	color: #641d00;
	text-decoration: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-top:1px;
	padding-bottom: 1px;
	text-align:left;
	width:163;
	}
	

.nav a {
	text-indent: 5px;
	background: #ffffe6;
	display: block;
	color: #641d00;
	text-decoration: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-top:1px;
	padding-bottom: 1px;
}

.nav a:hover {
    background : #feed9d;
    color: #641d00;
}


.list a {
	color: #666666;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-top:3px;
	padding-bottom: 1px;
}
.list a:active {
	color: #666666;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-top:3px;
	padding-bottom: 3px;
}
.list a:visited{
	color: #666666;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-top:3px;
	padding-bottom: 3px;
}
.list a:hover {
    color: #999999;
}
.directions {
	cursor:pointer;
	color:#641d00;
	width:410px;
	padding-bottom:5px;
	padding-top:3px;
	text-align:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}


.calendars {
  
	cursor:pointer;
	color:#666666;
	width:245px;
	text-align:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.month a {
color:#666666;
}

.month a:hover{
color:#666666;
background : #ececec;
   
}
.info{
	margin-bottom: 0.5em;
	color:#333333;
	width:470px;
	
	text-align:left;
	font-weight:bold;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.info2{
	align:left;
	margin-bottom: 0em;
	color:#666666;
	width:470px;
	
	text-align:left;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}


.style19 {
font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#666666;
}



.submenu{display: none;}


a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #641d00;
	text-decoration:none;
}
a:visited {
	color: #641d00;
	text-decoration:none;
}
a:hover {
	color: #996666;
	text-decoration:none;
}
a:active {
	color: #641d00;
	text-decoration:none;
}




.style55 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #666666; }

.style59 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #641d00; }
.style61 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #996666; }
.style51 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #666666;
}
.style41 {color: #641d00}
.style41 {	font-family: Arial, Helvetica, sans-serif;
	font-size: 11.5px;
	color: #666666;
}
.style81 {	font-family: Arial, Helvetica, sans-serif;
	font-size: 11.5px;
	font-weight:bold;
	color: #666666;
}


.style42{	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
}
.style40 {font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
}


.style25 {font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #666666; font-weight: bold; }



#brownroom{
	align:right;

	width: 530px;
	height:423px;
	text-align:left;
	position:re;
	overflow:auto;
}


#capemay{
	align:right;
	width: 470px;
	height:423px;
	text-align:left;
	padding-right:5px;
	position:relative;
	overflow:auto;
}
#facilities{
	align:right;
	width: 775px;
	height:368px;
	text-align:left;
	padding-right:5px;
	position:relative;
	overflow:auto;
}
#testimonials{
	align:right;
	width: 785px;
	height:382px;
	text-align:left;
	padding-right:5px;
	position:relative;
	overflow:auto;
}
#fq{
	align:right;
	width: 785px;
	height:398px;
	text-align:left;
	padding-right:5px;
	position:relative;
	overflow:auto;
}


#upcoming_events{
align:right;
	width: 770px;
	height:402px;
	text-align:left;
	padding-right:5px;
	padding-left:5px;
	position:relative;
	overflow:auto;
	}
	
#events{
align:right;
	width: 455px;
	height:431px;
	text-align:left;
	padding-right:5px;
	padding-left:5px;
	position:relative;
	overflow:auto;
	}
	
	#employment{
align:right;
	width: 473px;
	height:429px;
	text-align:left;
	padding-right:5px;
	padding-left:5px;
	position:relative;
	overflow:auto;
	}
	
	
#ebbittroom{
	align:right;
	width: 545px;
	height:227px;
	text-align:left;
	padding-right:5px;
	padding-left:5px;
	padding-bottom: 10px;
	position:relative;
	overflow:auto;
	}
#packages{
	align:right;
	width: 455px;
	height:417px;
	text-align:left;
	padding-right:5px;
	padding-left:5px;
	padding-bottom: 10px;
	position:relative;
	overflow:auto;
	}
	
#bluepigtavern{
	align:right;
	width: 533px;
	height:205px;
	text-align:left;
	padding-right:5px;
	padding-bottom: 10px;
	position:relative;
	overflow:auto;
}
#history{
	align:right;
	width: 465px;
	height:308px;
	text-align:left;
	padding-right:5px;
	padding-bottom: 10px;
	position:relative;
	overflow:auto;
}


#functionrooms{
	align:right;
	background-color:#ffffff;
	width: 770px;
	height:400px;
	text-align:left;
	padding-right:5px;
	position:relative;
	overflow:auto;
}

#articles{
	align:right;
	width: 770px;
	height:420px;
	text-align:left;
	padding-right:5px;
	position:relative;
	overflow:auto;
}
#articles2{
	align:right;
	width: 770px;
	height:429px;
	text-align:left;
	padding-right:5px;
	position:relative;
	overflow:auto;
}


#guide{
	align:right;
	
	width: 775px;
	height:357px;
	text-align:left;
	padding-right:5px;
	position:relative;
	overflow:auto;
}
#weddingpackages{
	align:right;
	width:455px;
	height:385px;
	text-align:left;
	padding-right:5px;
	position:relative;
	overflow:auto;
}
#teambuilding{
	align:right;
	background-color:#ffffff;
	width: 225px;
	height:190px;
	text-align:left;
	padding-right:5px;
	position:relative;
	overflow:auto;
}

#holiday{
	align:right;
	width: 400px;
	height:130px;
	text-align:left;
	padding-right:5px;
	position:relative;
	overflow:auto;
}
.ebbitt{
	align:left;
	background-color:#ffffff;
	color:#666666;
	width:225px;
	padding:0px;
	text-align:left;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.ebbitt2{

	background-color:#ffffff;
	color:#333333;
	width:225px;
	padding:3px;
	text-align:left;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.ebbitt_menu{
	margin-bottom: 0.5em;
	background-color:#ffffff;
	color:#333333;
	text-align:left;
	font-weight:bold;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.ebbitt_menu2{
	align:left;
	margin-bottom: 0em;
	background-color:#ffffff;
	color:#666666;
	text-align:left;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.style18 {
	color: #996666;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
.style22 {font-size: 14px; font-weight: bold; color: #666666; font-family: Arial, Helvetica, sans-serif; }
.style23{font-size: 14px; font-weight: bold; color: #999999; font-family: Arial, Helvetica, sans-serif; }
.style31 {
	font-size: 9.5px;
	color: #000000;
}
.teambuilding{	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	padding-left:5px;
	padding-top:5px;
}
.teamtitle{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	padding-left:5px;
	padding-top: 10px;

	
}
.style32 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #641d00; }

.style62 {font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #641d00; }

td.centering {
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(images/background.gif);
	background-repeat: no-repeat;
	overflow: auto;
	position: relative;
	
}


.direction{
	margin-bottom: 0.5em;
	color:#333333;
	width:465px;
	text-align:left;
	font-weight:bold;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.calendar{

	color:#333333;
	width:245px;
	text-align:left;
	font-weight:bold;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.direction2{
	align:left;
	margin-bottom: 0em;
	color:#666666;
	width:465px;
	text-align:left;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.calendar2{
	align:left;
	padding-right:5px;
 
	color:#666666;
	width:245px;
	text-align:left;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.style59 {margin-bottom: 0em; width: 410px; padding: 0px; text-align: left; font-family: Geneva, Arial, Helvetica, sans-serif;
}
.style6 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
	
}

/* Hot Dates Banner */
.hotdates { width:148px; height:220px; background:url('../images/congresshall-hotdates.gif') no-repeat; z-index:200; text-align:center; }
	.hot-title { padding:20px 10px 10px 10px; font-size:20px; font-weight:bold; }
	.hot-text { width:130px; margin:0 auto; padding: 10px 0 0 0; font-size:12px; }
	.hot-btn { width:95px; height:22px; background-color:#651d00; margin:20px auto; }
		.bold { font-weight:bold; }
		
		