#mainNav
{
width:165px;
border-left:1px solid #661c01;
padding:11px 8px 0 8px;
background-color:#ffffe6;
height:665px;
overflow:hidden;
}

.mainNavItem, .mainNavItem a:link, .mainNavItem a:visited, .mainNavItem a:active, .mainNavItem a:hover
{
	font-family: Arial, helvetica, sans serif;
	font-size: 11px;
	color: #661c01;
	text-transform: uppercase;
	margin-bottom:6px;
	text-decoration:none;
}

.mainNavItem a:hover, #mainNavItemSelected a:link, #mainNavItemSelected a:visited, #mainNavItemSelected a:active
{
	color: #ae9481;
}

#mainNavItemSelected a:link.subNavItem, 
#mainNavItemSelected a:visited.subNavItem, 
#mainNavItemSelected  a:active.subNavItem, 
#mainNavItemSelected a:hover.subNavItem, 
a:link.subNavItem, 
a:visited.subNavItem, 
a:active.subNavItem, 
a:hover.subNavItem

{
	font-family: Arial, helvetica, sans serif;
	font-size: 10px;
	padding: 2px 0 2px 20px;
	margin:0px;
	text-decoration: none;
	display: block;
	text-transform: capitalize;
	color: #661c01;

}

a:hover.subNavItem,  
a:link#subNavItemSelected, 
a:visited#subNavItemSelected, 
a:active#subNavItemSelected
{
background-color:#ffe153;
color: #661c01;
}

#topNav a:link, 
#topNav a:visited, 
#topNav a:active, 
#topNav
{
	color:#989898;
	font-family: Arial, helvetica, sans serif;
	font-size: 10px;
	margin:0px;
	text-decoration: none;
	text-transform: capitalize;
	padding:0 15px 0 15px; 
}
